{% extends 'base.html' %}
{% block title %}Customer details{% endblock title %}
{% block main %}

{% load bootstrap4 %}
<a href="{% url 'customer-list' %}" class="btn btn-info mb-3">
    <i class="bi bi-chevron-left pr-2"></i>Back to list
</a>

{% if object %}
<h3>{{object.name}} 
    <a href="{% url 'update-customer' pk=object.pk %}" class="p-2">
        <i class="bi bi-pencil-square text-dark"></i>
    </a>
</h3>
<table class="table">
    <tr>
        <td>Customer Type</td>
        <td>{{object.cust_type}}</td>
    </tr>
    <tr>
        <td>Mobile Number</td>
        <td>{{object.mobile}}</td>
    </tr>
    <tr>
        <td>Email</td>
        <td>{{object.email}}</td>
    </tr>
    <tr>
        <td>Address</td>
        <td>{{object.address}}</td>
    </tr>
    <tr>
        <td>Default Product</td>
        <td>{{object.default_product.name}}</td>
    </tr>
</table>
{% else %}
<h3>Sorry! No results Found.</h3>
{% endif %}

{% endblock main %}