{% extends 'base.html' %}
{% block title %}বাকিতে মাল বিক্রয়{% endblock title %}
{% block style %}
<style>
    .form-control, .input-group-text {
        border-radius: 0;
    }
</style>
{% endblock style %}
{% block main %}

{% load bootstrap4 %}
{% load extra_tags %}

<h3>বাকিতে মাল বিক্রয় - তারিখঃ {{date|e2b_date}}</h3>
<form action="" method="post">
    {% csrf_token %}
    <div id="form-container">
        <div class="row text-center">
            <div class="col-sm-3">ক্রেতা</div>
            <div class="col-sm-2">মাল</div>
            <div class="col-sm-2">পরিমাণ</div>
            <div class="col-sm-2">দর</div>
            <div class="col-sm-2">মোট</div>
            <div class="col-sm-1">মুছে ফেলুন</div>
        </div>
        {{formset.management_form}}
        {% for form in formset %}
        <div class="row forms text-center eng">
            {{form.date}}
            {{form.id}}
            <div class="col-sm-3 pr-0 bangla">{% bootstrap_field form.customer show_label=False %}</div>
            <div class="col-sm-2 p-0 bangla">{% bootstrap_field form.product show_label=False %}</div>
            <div class="col-sm-2 p-0">{% bootstrap_field form.quantity show_label=False %}</div>
            <div class="col-sm-2 p-0">{% bootstrap_field form.rate show_label=False addon_before="&times;" %} </div>
            <div class="col-sm-2 p-0">{% bootstrap_field form.amount show_label=False addon_before="=" %}</div>
            <div class="col-sm-1 p-2">{{form.DELETE}} <i class="bi bi-trash text-danger"></i></div>
        </div>
        {% endfor %}
    </div>
    <div id="empty-form" class="d-none eng">
        {{empty_form.date}}
        <div class="col-sm-3 pr-0 bangla">{% bootstrap_field empty_form.customer show_label=False %}</div>
        <div class="col-sm-2 p-0 bangla">{% bootstrap_field empty_form.product show_label=False %}</div>
        <div class="col-sm-2 p-0">{% bootstrap_field empty_form.quantity show_label=False %}</div>
        <div class="col-sm-2 p-0">{% bootstrap_field empty_form.rate show_label=False addon_before="&times;" %} </div>
        <div class="col-sm-2 p-0">{% bootstrap_field empty_form.amount show_label=False addon_before="=" %}</div>
        <div class="col-sm-1 p-2">{{empty_form.DELETE}} <i class="bi bi-trash text-danger"></i></div>
    </div>
    <div class="p-2">
        <span class="bi bi-back mr-2 eng" id='copy-form' style="cursor:pointer;"> Copy</span>
        <a href="{% url 'customers' %}" class='text-dark'><i class='bi bi-plus-circle'></i> পার্টি যুক্ত করুন</a>
    </div>
    {% include 'forms_buttons.html' %}
</form>

{% load static %}
<script src="{% static 'formset.js' %}"></script> 
<script src="{% static 'product_formset.js' %}"></script> 
<script>    
    $("select[id$='-product'], select[id$='-customer']").on('change', function(e){
        getSellingRate(e)
        getAmount(e)
    })
    
    function addDuesellForm(e){
        addForm()
        $("select[id$='-product'], select[id$='-customer']").on('change', function(e){
            getSellingRate(e)
            getAmount(e)
        })
        $("input[id$='-quantity'], input[id$='-rate']").on({
            change: getAmount, keyup: getAmount
        })
        //$("input[id$='-amount']").on('keyup', getRate)
        $("input[id$='-amount']").on({keyup: getRate, change: getRate})
    }
    $("#add-form").on('click', addDuesellForm)
    $("#copy-form").on('click', function(e){
        let customer = $('#form-container .forms:last').find("select[id$='-customer']").val()
        addDuesellForm(e)
        $('#form-container .forms:last').find("select[id$='-customer']").val(customer)
        $("#form-container .forms:last select[id$='-product']").val(null)

    })
</script>

{% endblock main %}