{% extends 'base.html' %}
{% block title %}গ্রুপ অফ কোম্পানি{% endblock title %}
{% block style %}
<style>
    .hidden {
        display: none;
    }
    #add-form {
        font-size: 2rem;
    }
</style>
{% endblock style %}
{% block main %}

{% load extra_tags %}
{% load bootstrap5 %}

<h3 class="c-print-none">গ্রুপ অফ কোম্পানি
    <i class="bi bi-plus-circle btn p-0" id="add-form"></i>
</h3>
<div id="form-container" class="{{container_class}}">
    <form method="post" class="row mb-3">
        {% csrf_token %}
        <div class="col-sm-6">{% bootstrap_field form.name  layout='horizontal' %}</div>
        <div class="col-sm-6">{% bootstrap_field form.active  layout='horizontal' %}</div>
        <div class="col-sm-12 eng">
            {% bootstrap_button 'Save' button_type='submit' button_class='btn-success' %}
            <a href="{% url 'groupofcompanies' %}" class="btn btn-secondary">Cancel</a>
        </div>
    </form>
</div>

<table class="table table-sm table-striped table-bordered text-center">
    <caption>
        {% include 'org_name.html' %}
        <h4>গ্রুপ অফ কোম্পানি তালিকা</h4>
    </caption>
    <thead>
        <tr>
            <th>#</th>
            <th>নাম</th>
            <th>অবস্থা</th>
            <th class="d-print-none"></th>
        </tr>
    </thead>
    {% if object_list %}
    <tbody>
        {% for object,sln in object_list|zip %}
        <tr {% if not object.active %}class="text-secondary"{% endif %}>
            <td>{{ sln|e2b_digit }}</td>
            <td class="text-start">{{object.name}}</td>
            <td class="icon-lg">
                <a href="{% url 'change-goc-status' pk=object.pk %}" class="p-1">
                    {% if object.active %}
                    <i class="bi bi-toggle-on text-primary"></i>
                    {% else %}
                    <i class="bi bi-toggle-off text-secondary"></i>
                    {% endif %}
                </a>
            </td>
            <td class="d-print-none">
                <a href="{% url 'update-groupofcompany' pk=object.pk %}" class="p-1"><i class="bi bi-pencil-square text-dark"></i></a>
                <a href="{% url 'delete-groupofcompany' pk=object.pk %}" class="p-1"><i class="bi bi-trash text-danger"></i></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    {% else %}
    <tfoot>
        <tr>
            <td colspan="5" class="text-seocndary text-center">কোনো গ্রুপ অফ কোম্পানি তালিকাভুক্ত করা হয়নি!</td>
        </tr>
    </tfoot>
    {% endif %}
</table>

{% load static %}
<script src="{% static 'form_list.js' %}"></script>

{% endblock main %}