# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore environment variables file
.env

# Ignore SQLite database file
db.sqlite3

# Ignore virtual environment
venv/
env/

# Ignore Git files
.git
.gitignore
