{% extends 'base.html' %}
{% block title %}খরচের খাত{% endblock title %}
{% block style %}
<style>
    .hidden {
        display: none;
    }
    #add-form {
        font-size: 2rem;
    }
</style>
{% endblock style %}
{% block main %}

{% load extra_tags %}
{% load bootstrap4 %}

<h3 class="bangla">খরচের খাত
    <i class="bi bi-plus-circle btn p-0" id="add-form"></i>
</h3>
<div id="form-container" class="{{container_class}}">
    <form method="post" class="row mb-3">
        {% csrf_token %}
        <div class="col-sm-8 bangla">{% bootstrap_field form.name  layout='horizontal' %}</div>
        <div class="col-sm-4">
            {% bootstrap_button 'Save' button_type='submit' button_class='btn-success' %}
            <a href="{% url 'expenditure-group' %}" class="btn btn-secondary">Cancel</a>
        </div>
    </form>
</div>

<table class="table table-sm table-striped table-bordered text-center">
    <tr>
        <th>#</th>
        <th class="bangla">নাম</th>
        <th></th>
    </tr>
    {% if object_list %}
    {% for object,sln in object_list|zip %}
    <tr>
        <td>{{ sln }}</td>
        <td class="bangla text-left">{{object.name}}</td>
        <td>
            <a href="{% url 'update-expendituregroup' pk=object.pk %}" class="p-1"><i class="bi bi-pencil-square text-dark"></i></a>
            <a href="{% url 'delete-expendituregroup' pk=object.pk %}" class="p-1"><i class="bi bi-trash text-danger"></i></a>
        </td>
    </tr>
    {% endfor %}
    {% else %}
    <tr><td colspan="3" class="text-seocndary text-center bangla">কোনো খরচের খাত তালিকাভুক্ত করা হয়নি!</td><tr>
    {% endif %}
</table>

{% load static %}
<script src="{% static 'form_list.js' %}"></script>

{% endblock main %}