{% extends 'base.html' %}
{% block title %}ব্যয়সমূহ{% endblock title %}
{% block style %}
<style>
    .form-control, .input-group-text {
        border-radius: 0;
    }
</style>
{% endblock style %}
{% block main %}

{% load bootstrap4 %}
{% load extra_tags %}

<h3>ব্যয়সমূহ - তারিখঃ {{date|e2b_date}}</h3>
<form action="" method="post">
    {% csrf_token %}
    <div id="form-container">
        <div class="row text-center">
            <div class="col-sm-3">খাত</div>
            <div class="col-sm-5">বিবরণ</div>
            <div class="col-sm-2">টাকা</div>
            <div class="col-sm-2">মুছে ফেলুন</div>
        </div>
        {{formset.management_form}}
        {% for form in formset %}
        <div class="row forms text-center">
            {{form.date}}
            {{form.id}}
            <div class="col-sm-3">{% bootstrap_field form.group show_label=False %}</div>
            <div class="col-sm-5">{% bootstrap_field form.detail show_label=False %}</div>
            <div class="col-sm-2 eng">{% bootstrap_field form.amount show_label=False %}</div>
            <div class="col-sm-2 p-2">{{form.DELETE}} <i class="bi bi-trash text-danger"></i></div>
        </div>
        {% endfor %}
    </div>
    <div id="empty-form" class="d-none">
        {{empty_form.date}}
        <div class="col-sm-3">{% bootstrap_field empty_form.group show_label=False %}</div>
        <div class="col-sm-5">{% bootstrap_field empty_form.detail show_label=False %}</div>
        <div class="col-sm-2 eng">{% bootstrap_field empty_form.amount show_label=False %}</div>
        <div class="col-sm-2 p-2">{{empty_form.DELETE}} <i class="bi bi-trash text-danger"></i></div>
    </div>
    {% include 'forms_buttons.html' %}
    <div class="p-2"><a href="{% url 'expenditure-group' %}">খরচের খাত যুক্ত করুন</a></div>
</form>

{% load static %}
<script src="{% static 'formset.js' %}"></script> 
<script>
    $("#add-form").click(addForm)
    $(".delete-form").click(deleteForm)
</script>

{% endblock main %}