{% extends 'base.html' %}
{% block title %}মূলধন যুক্ত করুন{% endblock title %}

{% block style %}
<style>
    form .bootstrap4-multi-input div.col-4:not(:first-child) {
        padding-left: 0;
    }
    
    form .bootstrap4-multi-input div.col-4:not(:last-child) {
        padding-right: 0;
    }

    select.form-control, input.form-control, form .btn {
        border-radius:0rem;
    }
</style>
{% endblock style %}

{% block main %}

{% load bootstrap4 %}
<a href="{% url 'ownersequity' %}" class="btn btn-info rounded-0 mb-3">
    <i class="bi bi-chevron-left pr-2"></i>বর্তমান মূলধন
</a>
<h3>মূলধন যুক্ত করুন</h3>
<form action="" method="post" class="row">
    {% csrf_token %}
    <div class="col-md-6">
        {% bootstrap_field form.date layout='horizontal' field_class='eng col-md-9' %}
    </div>
    <div class="col-md-6">
        {% bootstrap_field form.owner layout='horizontal' field_class='col-md-9' %}
    </div>
    <div class="col-md-6">
        {% bootstrap_field form.detail layout='horizontal' field_class='col-md-9' %}
    </div>
    <div class="col-md-6">
        {% bootstrap_field form.amount layout='horizontal' field_class='eng col-md-9' %}
    </div>
    <div class="col-md-12 text-center eng">
        {% bootstrap_button "Save" button_type="submit" button_class="btn-primary" %}
    </div>
</form>

{% endblock main %}