{% extends 'base.html' %}
{% block title %}Investments{% endblock title %}
{% block main %}

{% load extra_tags %}

<h3>Investments</h3>
<div class="text-right">
    <a href="{% url 'create-investment' %}" class="btn btn-success mb-2">Add</a>
</div>
<table class="table table-sm table-striped table-bordered text-center">
    <tr>
        <th>#</th>
        <th>Date</th>
        <th>Owners Name</th>
        <th>Amount</th>
        <th>Actions</th>
    </tr>
    {% if object_list %}
    {% for object,sln in object_list|zip %}
    <tr>
        <td>{{ sln }}</td>
        <td>{{object.date}}</td>
        <td>{{object.owner.name}}</td>
        <td>{{object.amount}}</td>
        <td>
            <a href="{% url 'update-investment' pk=object.pk %}" class="p-1"><i class="bi bi-pencil-square text-dark"></i></a>
            <a href="{% url 'delete-investment' pk=object.pk %}" class="p-1"><i class="bi bi-trash text-danger"></i></a>
        </td>
    </tr>
    {% endfor %}
    {% else %}
    <tr><td colspan="5" class="text-seocndary text-center">No results Found !</td><tr>
    {% endif %}
</table>

{% endblock main %}