{% extends 'base.html' %}
{% block title %}মূলধন যুক্ত করুন{% endblock title %}

{% block style %}
<style>
</style>
{% endblock style %}

{% load bootstrap5 %}
{% load extra_tags %}
{% block main %}

{% include "Transaction/daily_transactions/links.html" %}

<table class='table table-striped table-bordered table-sm text-center'>
    <caption>
        {% include 'org_name.html' %}
        <h4>অতিরিক্ত মূলধন - তারিখঃ {{date|e2b_date}}</h4>
    </caption>
    <thead>
        <tr>
            <th>মালিকের নাম</th> 
            <th>বিবরণ</th> 
            <th>টাকার পরিমান</th>
            <th>নিয়ন্ত্রণ</th>
        </tr>
    </thead>
    {% if object_list %}
    <tbody>
        {% for object in object_list %}
        <tr>
            <td>{{object.owner.name}}</td>
            <td>{{object.detail}}</td>
            <td>{{object.amount}}</td>
            <td class='nowrap'>
                <a href="{% url 'update-investment' date=date pk=object.pk %}" class="btn btn-sm btn-light py-0">
                    <i class="bi bi-pencil-square"></i>
                </a>
                <a href="{% url 'delete-investment' date=date pk=object.pk %}">
                    <i class="bi bi-trash text-danger"></i>
                </a>
            </td>
        </tr>
        {% endfor %}
        <tr>
            <th colspan='4' class='text-end'>সর্বমোট</th>
            <td>=</td>
            <th colspan='2' class='nowrap'>{{total|format_currency}}</th>
        </tr>
    </tbody>
    {% endif %}
    <tfoot class='border d-print-none'>
        <form method="post" id="form">
            {% csrf_token %}
            <tr class='text-start'>
                <th colspan="4">মূলধন যুক্ত/পরিবর্তন করুন</th>
            </tr>
            <tr>
                <td>{% bootstrap_field form.owner show_label=False %}</td>
                <td>{% bootstrap_field form.detail show_label=False %}</td>
                <td>{% bootstrap_field form.amount show_label=False %}</td>
                <td class='nowrap pb-4'>
                    <button type="submit" class="btn btn-sm btn-success py-0 rounded-0">
                        <i class="bi bi-check-lg" style="font-size:1.5rem"></i>
                    </button>
                    <a href="{% url "create-investment" date=date %}" class="btn btn-sm btn-light py-0 rounded-0">
                        <i class="bi bi-x text-danger" style="font-size:1.5rem"></i>
                    </a>
                </td>
            </tr>
        </form>
    </tfoot>
</table>

{% endblock main %}