{% extends 'base.html' %}
{% block title %}মূলধন হিস্টোরি{% endblock title %}
{% block style %}
<style>
    .flex-evenly {
        display: flex;
        justify-content: space-between;
    }
    .flex-evenly .right {margin-left: auto}
</style>
{% endblock style %}
{% load extra_tags %}
{% load bootstrap5 %}
{% block main %}

<div class="d-print-none">
    {% if filter_form %}
    <form method="get" class="row" id="filter_form">
        <div class="col-md-6 col-lg-4">{% bootstrap_field filter_form.owner layout='horizontal' %}</div>
        <div class="col-md-3">{% bootstrap_field filter_form.year layout='horizontal' %}</div>
        <div class="col-md-3" id="buttons">
            <button type="submit" class='btn btn-success text-light'>ফলাফল দেখুন <i class='bi bi-arrow-right'></i>
            </button>
        </div>
    </form>
    {% endif %}
    
    <div class="text-info">চলতি মাসের তথ্য আপডেট করার জন্য 
        <a href="{% url 'incomestatement' current_date %}">আয়-ব্যয় বিবরণীতে যান।</a>
    </div>
</div>
<table class="table table-sm table-striped table-bordered text-center">
    <caption>
        {% include 'org_name.html' %}
        <h4>বাৎসরিক মালিকানা স্বত্ব - {{year|e2b_digit}}</h4>
    </caption>
    <thead>
        <tr>
            <th>#</th>
            <th>তারিখ</th>
            <th>অংশীদারের নাম</th>
            <th>প্রারম্ভিক মালিকানা স্বত্ব</th>
            <th>মুনাফা</th>
            <th>উত্তোলন</th>
            <th>অতিঃ মূলধন</th>
            <th>সমাপনি মালিকানা স্বত্ব</th>
            <th>সমাপনি শেয়ার</th>
        </tr>
    </thead>
    <tbody>
        {% if object_list %}
        {% for obj,sln in object_list|zip %}
        <tr>
            <td>{{ sln|e2b_digit }}</td>
            <td class='text-end'>{{obj.date|e2b_date}}</td>
            <td class="text-start">
                <a href="{% url 'ownersequity-details' owner=obj.owner.pk date=obj.date %}">{{obj.owner.name}}</a>
            </td>
            <td>{{obj.amount|format_currency}}</td>
            <td>{{obj.profit|format_currency}}</td>
            <td>{{obj.withdraw.amount|format_currency}}</td>
            <td>{{obj.investment.amount|format_currency}}</td>
            {% if obj.ending %}
            <td>
                <div class='float-left'>
                    <i class="bi 
                        {% if obj.ending.amount < obj.amount %} bi-caret-down-fill text-danger
                        {% elif obj.ending.amount > obj.amount %} bi-caret-up-fill text-success
                        {% endif %}">
                    </i>
                </div>
                {{obj.ending.amount|format_currency}}
            </td>
            <td>
                <div class='float-left'>
                    <i class="bi 
                        {% if obj.ending.share < obj.share %} bi-caret-down-fill text-danger
                        {% elif obj.ending.share > obj.share %} bi-caret-up-fill text-success
                        {% endif %}">
                    </i>
                </div>
                {{obj.ending.share|format_currency}}%
            </td>
            {% else %}<td></td><td></td>
            {% endif %}
        </tr>
        {% endfor %}
        <tr>
            <th colspan='2' class='text-end'>মোটঃ</th>
            <th>{{settings.org_name}}</th>
            <th>{{yearly.initial|format_currency}}</th>
            <th>{{yearly.profit|format_currency}}</th>
            <th>{{yearly.withdraw|format_currency}}</th>
            <th>{{yearly.investment|format_currency}}</th>
            <th colspan='2'></th>
        </tr>
        {% else %}
        <tr>
            <td colspan="9" class="text-seocndary text-center">কোনো মূলধন তালিকাভুক্ত করা হয়নি!</td>
        </tr>
        {% endif %}
    </tbody>
</table>

{% include "pagination.html" %}

{% endblock main %}