{% extends 'base.html' %}
{% block title %}মালিক{% endblock title %}
{% block main %}

{% load extra_tags %}

<h3 class="bangla">মালিক
    <a href="{% url 'create-owner' %}"><i class="bi bi-plus-circle"></i></a>
</h3>
<table class="table table-sm table-striped table-bordered text-center">
    <tr>
        <th>#</th>
        <th class="bangla">নাম</th>
        <th class="bangla">মোবাইল</th>
        <th></th>
    </tr>
    {% if object_list %}
    {% for object,sln in object_list|zip %}
    <tr>
        <td>{{ sln }}</td>
        <td class="bangla">{{object.name}}</td>
        <td>{% if object.mobile %}{{object.mobile}}{% else %}-{% endif %}</td>
        <td>
            <a href="{% url 'update-owner' pk=object.pk %}" class="p-1"><i class="bi bi-pencil-square text-dark"></i></a>
            <a href="{% url 'delete-owner' pk=object.pk %}" class="p-1"><i class="bi bi-trash text-danger"></i></a>
        </td>
    </tr>
    {% endfor %}
    {% else %}
    <tr><td colspan="4" class="text-seocndary text-center bangla">মালিক তালিকাভুক্ত করা হয়নি!</td><tr>
    {% endif %}
</table>

{% endblock main %}