{% extends 'base.html' %}
{% block title %}উত্তোলন{% endblock title %}
{% block style %}
<style>
    .form-control, .input-group-text {
        border-radius: 0;
    }
</style>
{% endblock style %}
{% block main %}

{% load bootstrap4 %}
{% load extra_tags %}

<h3>উত্তোলন - তারিখঃ {{date|e2b_date}}</h3>
<form action="" method="post">
    {% csrf_token %}
    <div id="form-container">
        <div class="row text-center">
            <div class="col-sm-3">মালিক</div>
            <div class="col-sm-6">বিবরণ</div>
            <div class="col-sm-2">টাকা</div>
            <div class="col-sm-1">মুছে ফেলুন</div>
        </div>
        {{formset.management_form}}
        {% for form in formset %}
        <div class="row forms text-center">
            {{form.date}}
            {{form.id}}
            <div class="col-sm-3">{% bootstrap_field form.owner show_label=False %}</div>
            <div class="col-sm-6">{% bootstrap_field form.detail show_label=False %}</div>
            <div class="col-sm-2 eng">{% bootstrap_field form.amount show_label=False %}</div>
            <div class="col-sm-1 p-2">{{form.DELETE}} <i class="bi bi-trash text-danger"></i></div>
        </div>
        {% endfor %}
    </div>
    <div id="empty-form" class="d-none">
        {{empty_form.date}}
        <div class="col-sm-3">{% bootstrap_field empty_form.owner show_label=False %}</div>
        <div class="col-sm-6">{% bootstrap_field empty_form.detail show_label=False %}</div>
        <div class="col-sm-2 eng">{% bootstrap_field empty_form.amount show_label=False %}</div>
        <div class="col-sm-1 p-2">{{empty_form.DELETE}} <i class="bi bi-trash text-danger"></i></div>
    </div>
    <div class="p-2">
        <span class="bi bi-back mr-2 eng" id='copy-form' style="cursor:pointer;"> Copy</span>
    </div>
    {% include 'forms_buttons.html' %}
</form>

{% load static %}
<script src="{% static 'formset.js' %}"></script> 

<script>
    function deleteForm(e){
        $(this).closest(".forms").remove()
        $("#id_form-TOTAL_FORMS").attr('value',$(".forms").length)
    }
    
    $("#add-form").click(addForm)
    $('#copy-form').click(function(){
        let owner = $('#form-container .forms:last').find("select[id$='-owner']").val()
        addForm()
        $('#form-container .forms:last').find("select[id$='-owner']").val(owner)

    })
    $(".delete-form").click(deleteForm)
</script>

{% endblock main %}