{% load extra_tags %}

<div class="d-print-none mb-2">
    {% if pattern_name != 'daily-transactions' %}
        <a href="{% url 'daily-transactions' date %}" class="btn btn-light">
            <i class="bi bi-chevron-left"></i> দৈনিক লেনদেন
        </a>
    {% endif %}

    <a class="btn btn-sm btn-outline-primary" href="{% url 'create-purchase' date %}">ক্রয়</a>
    <a class="btn btn-sm btn-outline-primary" href="{% url 'create-sell' date %}">বিক্রয়</a>
    <a class="btn btn-sm btn-outline-primary" href="{% url 'create-duesell' date %}">বাকি বিক্রয়</a>
    <a class="btn btn-sm btn-outline-primary" href="{% url 'create-duecollection' date %}">বকেয়া আদায়</a>
    <a class="btn btn-sm btn-outline-primary" href="{% url 'create-income' date %}">আয়</a>
    <a class="btn btn-sm btn-outline-primary" href="{% url 'create-expenditure' date %}">ব্যয়</a>
    <a class="btn btn-sm btn-outline-primary" href="{% url 'create-withdraw' date %}">উত্তোলন</a>
    <a class="btn btn-sm btn-outline-primary" href="{% url 'create-investment' date %}">অতিরিক্ত মূলধন</a>
</div>