{% load extra_tags %}

{% if borrowed_loans %}
<table class="table table-sm table-bordered table-striped text-end">
    <caption>
        <h5>হাওলাদ গ্রহণ</h5>
    </caption>
    <thead>
        <tr class="text-center">
            <th>হাওলাদ দাতা</th>
            <th>টাকা</th>
        </tr>
    </thead>
    <tbody>
        {% for loan in borrowed_loans %}
        <tr>
            <td>{{loan.lender.name}}</td>
            <td class="text-end nowrap">{{loan.amount|format_currency}}</td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th>মোট গৃহীত হাওলাদ</th>
            <th class="nowrap">{{total_borrowed_loan|format_currency}}</th>
        </tr>
    </tfoot>
</table>
{% endif %}

{% if refund_lended_loans %}
<table class="table table-sm table-bordered table-striped text-end">
    <caption>
        <h5>প্রদত্ত হাওলাদ ফেরত</h5>
    </caption>
    <thead>
        <tr class="text-center">
            <th>হাওলাদ দাতা</th>
            <th>টাকা</th>
        </tr>
    </thead>
    <tbody>
        {% for refund in refund_lended_loans %}
        <tr>
            <td colspan="3">প্রদত্ত হাওলাদ ফেরত - {{refund.loan.borrower.name}}</td>
            <td class="text-end nowrap">{{refund.amount|format_currency}}</td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th>মোট ফেরত</th>
            <th class="nowrap">{{total_refund_lended_loan|format_currency}}</th>
        </tr>
    </tfoot>
</table>
{% endif %}