{% extends 'base.html' %}
{% block title %}পার্টি খতিয়ান - টপশিট{% endblock title %}
{% block style %}
<style>
    #date-filter select, #date-filter button, #date-filter a {
        border-radius:0rem;
    }

    .baddebt {display: none;}
</style>
{% endblock style %}
{% load extra_tags %}
{% load bootstrap4 %}
{% block main %}

<div class="d-print-none">
    <form method="get" class="d-flex" id="date-filter">
        <div class="py-2 mr-2">হিসাবের মাস</div>
        <div>{% bootstrap_field date_form.month layout='horizontal' show_label=False field_class="col-12" %}</div>
        <div>{% bootstrap_field date_form.year layout='horizontal' show_label=False field_class="col-12" %}</div>
        <div>
            <button type="submit" class='btn' id='go-btn'>
                <i class='bi bi-arrow-right-square-fill text-success'></i>
            </button>
            <a href="{% url 'customer-topsheet' month=prev.month year=prev.year %}" class="btn btn-info"><i class="bi bi-chevron-left"></i></a>
            <a href="{% url 'customer-topsheet' month=next.month year=next.year %}" class="btn btn-info"><i class="bi bi-chevron-right"></i></a>
        </div>
        <div class="p-2 ml-2">
            <input type="checkbox" id="show_baddebt">
            <label for="show_baddebt">অনিশ্চিত</label>
        </div>
    </form>
</div>

<div class="text-center d-none d-print-block" id="header">
    <h3>প্রধান ফিলিং স্টেশন</h3>
</div>
<div class="text-center">
    <h4>পার্টি খতিয়ান (টপশিট) - {{month|e2b_month}},{{year|e2b_digit}}</h4>
    {% if not status %}
    <div class='text-danger'>({{to_date|e2b_date}} তারিখ পর্যন্ত)</div>
    {% endif %}
</div>

<div class="pb-1 d-print-none">
    <a href="{% url 'customer-balance' month=prev.month year=prev.year %}" class="btn btn-light">পার্টি ব্যালেন্স</a>
</div>

<table class="table table-sm table-bordered table-striped">
    <thead>
        <tr class="text-center">
            <th>#</th>
            <th>পার্টি</th>
            <th>পূর্ববর্তী পাওনা</th>
            <th>চলতি মাস বকেয়া</th>
            <th>আদায়</th>
            <th>বর্তমান পাওনা</th>
        </tr>
    </thead>
    <tbody>
        {% for customer,sln in customers|zip %}
        <tr {% if customer.baddebt %}class="baddebt"{% endif %}>
            <td class='text-center'>{{sln|e2b_digit}}</td>
            <td>
                <a href="{% url customer.ledger_link customer=customer.pk month=month year=year %}" class="{{customer.link_css}}">{{customer.name}}</a>
            </td>
            <td class="text-right">
                {% if customer.prev_balance %}
                <div class="float-left">
                    ({{customer.prev_balance.month|e2b_month}} 
                    {{customer.prev_balance.year|e2b_digit}})
                </div>
                {{customer.prev_balance.amount|floatformat:-2|e2b_digit|ezynumber}}
                {% endif %}
            </td>
            <td class="text-right">{{customer.duesell|floatformat:-2|e2b_digit|ezynumber}}</td>
            <td class="text-right">{{customer.duecollection|floatformat:-2|e2b_digit|ezynumber}}</td>
            <td class="text-right">
                {% if customer.balance == 0 %}<i class="bi bi-check-lg text-success float-left"></i>
                {% elif customer.balance < 0 %}<i class="bi bi-exclamation-triangle text-danger float-left"></i>
                {% endif %}
                {{customer.balance|floatformat:-2|e2b_digit|ezynumber}}
            </td>
        </tr>
        {% endfor %}
        <tr class="text-right font-weight-bold">
            <td colspan='2'>(অনিশ্চিত সহ) মোটঃ</td>
            <td>{{customers_total.total_prev_bal|floatformat:-2|e2b_digit|ezynumber}}</td>
            <td>{{customers_total.total_duesell|floatformat:-2|e2b_digit|ezynumber}}</td>
            <td>{{customers_total.total_collection|floatformat:-2|e2b_digit|ezynumber}}</td>
            <td>{{customers_total.total_bal|floatformat:-2|e2b_digit|ezynumber}}</td>
        </tr>
    </tbody>
</table>

<script>
    $("#show_baddebt").on('click', function(){
        if ($(this).is(":checked")){
            $('.baddebt').show('fast');
        } else {
            $('.baddebt').hide('fast');
        }
    })
</script>

{% endblock main %}