{% extends 'base.html' %}
{% block title %}{{customer.name}} - খতিয়ান{% endblock title %}
{% block style %}
<style>
    .full-details {display: none;}
    #filter select, #buttons button, #buttons a {
        border-radius:0rem;
    }
</style>
{% endblock style %}
{% load extra_tags %}
{% load bootstrap4 %}
{% block main %}

<div class="d-print-none d-flex">
    {% if filter_form %}
    <form method="get" class="row" id="filter">
        <div class="col-md-4 pr-0">{% bootstrap_field filter_form.customer layout='horizontal' %}</div>
        <div class="col-md-3 p-0">{% bootstrap_field filter_form.month layout='horizontal' show_label=False field_class='col-12' label_class='col-0' %}</div>
        <div class="col-md-2 p-0">{% bootstrap_field filter_form.year layout='horizontal' show_label=False field_class='col-12' label_class='col-0' %}</div>
        <div class="col-md-3 p-0" id="buttons">
            <button type="submit" class='btn' id='go-btn'>
                <i class='bi bi-arrow-right-square-fill text-success'></i>
            </button>
            <a href="{% url 'customer-ledger' customer=customer.pk month=prev.month year=prev.year %}" class="btn btn-info"><i class="bi bi-chevron-left"></i></a>
            <a href="{% url 'customer-ledger' customer=customer.pk month=next.month year=next.year %}" class="btn btn-info"><i class="bi bi-chevron-right"></i></a>
        </div>
    </form>
    {% endif %}
</div>

<div>
    <div class="text-center">
        <h3>{{customer.name}} (দেনাদার) হিসাব</h3>
        <h4>{% if month %}{{month|e2b_month}}, {{year|e2b_digit}} এর {% endif %}খতিয়ান</h4>
    </div>

    {% if has_balance %}
    <table class="table table-striped table-bordered table-sm">
        <thead>

            <tr class="text-center">
                <th>তারিখ</th>
                <th>বিবরণ</th>
                <th>মোট বিক্রয়</th>
                <th>আদায়</th>
                <th>পাওনা</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-center">{{balance_bf_date|e2b_date}}</td>
                <td colspan="3" id="balance-bf">ব্যালেন্স বি/এফ</td>
                <td class="text-right">{{balance_bf|e2b_digit|ezynumber}}</td>
            </tr>
            {% for obj in qs %}
            <tr>
                <td class="text-center">
                    <a href="{% url 'daily-transactions' date=obj.date %}">{{obj.date|e2b_date:True}}</a>
                </td>
                <td>
                    {% if obj.sells.count > 0 %}
                    <ul class="no-bullet">
                        {% for sell in obj.sells %}
                        <li>
                        {% if sell.product.type == 'Pack' %}
                            <span class="eng">{{sell.product.name}}</span> 
                            {{sell.product.capacity|floatformat:-2|e2b_digit|ezynumber}} লিঃ : 
                            {{sell.quantity|floatformat:-2|e2b_digit|ezynumber}} &times; 
                            {{sell.rate|floatformat:-2|e2b_digit|ezynumber}} = 
                            {{sell.amount|floatformat:-2|e2b_digit|ezynumber}}
                        {% else %}
                            {{sell.product}}: {{sell.quantity|floatformat:-2|e2b_digit|ezynumber}} &times; 
                            {{sell.rate|floatformat:-2|e2b_digit|ezynumber}} = 
                            {{sell.amount|floatformat:-2|e2b_digit|ezynumber}}
                        {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </td>
                <td class="text-right">{% if obj.amount %}{{obj.amount|e2b_digit|ezynumber}}{% endif %}</td>
                <td class="text-right">{% if obj.collection %}{{obj.collection|e2b_digit|ezynumber}}{% endif %}</td>
                <td class="text-right">
                    {% if obj.balance == 0 %}<i class="bi bi-check-lg text-success float-left"></i>
                    {% elif obj.balance < 0 %}<i class="bi bi-exclamation-triangle text-danger float-left"></i>
                    {% endif %}
                    {{obj.balance|e2b_digit|ezynumber}}
                </td>
            </tr>
            {% endfor %}
     
            <tr class='text-right'>
                <th colspan='2'>মোটঃ</th>
                <th>{{total_sell|e2b_digit|ezynumber}}</th>
                <th>{{total_collection|e2b_digit|ezynumber}}</th>
                <th>{{balance_cf|e2b_digit|ezynumber}}</th>
            </tr>
        </tbody>
    </table>

    <h5>
        <input type="checkbox" id="summary-check" class="d-print-none" checked>
        <u>সার-সংক্ষেপঃ</u>
        <span id="summary" class="font-italic">
            {% for product in summary %}
            {% if product.product.type == 'Pack' %}
                <span class="eng">{{product.product.name}}</span> - 
                {{product.product.capacity|floatformat:-2|e2b_digit}} লিঃ &times; 
                {{product.quantity|floatformat:-2|e2b_digit}}
            {% else %}
                {{product.product}} - 
                {{product.quantity|floatformat:-2|e2b_digit|ezynumber}} লিঃ
            {% endif %}
            = {{product.amount|e2b_digit|ezynumber}} টাকা;
            {% endfor %}
        </span>
    </h5>
    {% else %}

    <div class="card">
        <div class="text-center m-5 text-secondary">
            <div class="display-3">দুঃখিত! প্রাথমিক ব্যালেন্স নেই</div>
            <a href="{% url 'customer-balance' customer.pk %}" class="btn btn-primary m-3">ব্যালেন্স যুক্ত করুন</a>
        </div>
    </div>
    {% endif %}
</div>

<script>
    $("#summary-check").on('click', function(){
        if($(this).is(":checked")){
            $("#summary").removeClass("d-none")
            $(this).parent().removeClass("d-print-none")
        } else {
            $("#summary").addClass("d-none")
            $(this).parent().addClass("d-print-none")
        }
    })
</script>

{% endblock main %}