{% extends 'base.html' %}
{% block title %}পার্টি ব্যাল্যান্স{% endblock title %}
{% block style %}
<style>
    .hidden {
        display: none;
    }
    #add-form {
        font-size: 2rem;
    }
</style>
{% endblock style %}
{% block main %}

{% load extra_tags %}
{% load bootstrap4 %}

<h3 class="bangla">পার্টি ব্যাল্যান্স
    <i class="bi bi-plus-circle btn p-0" id="add-form"></i>
</h3>
<div id="form-container" class="{{container_class}}">
    <form method="post" class="row mb-3">
        {% csrf_token %}
        <div class="col-md-6 bangla">{% bootstrap_field form.month  layout='horizontal' %}</div>
        <div class="col-md-6 bangla">{% bootstrap_field form.year  layout='horizontal' %}</div>
        <div class="col-md-6 bangla">{% bootstrap_field form.customer  layout='horizontal' %} </div>
        <div class="col-md-6 bangla">{% bootstrap_field form.amount  layout='horizontal' addon_after="<span class='bangla'>টাকা</span>"%}</div>
        <div class="col-12 nowrap text-center">
            {% bootstrap_button 'Save' button_type='submit' button_class='btn-success' %}
            <a href="{% url 'customer-balance' %}" class="btn btn-secondary">Cancel</a>
        </div>
    </form>
</div>

<table class="table table-sm table-striped table-bordered text-center">
    <tr>
        <th>#</th>
        <th class="bangla">মাস ও বছর</th>
        <th class="bangla">পার্টি</th>
        <th class="bangla">পরিমাণ</th>
        <th></th>
    </tr>
    {% if object_list %}
    {% for object,sln in object_list|zip %}
    <tr>
        <td>{{ sln }}</td>
        <td class="bangla text-left">{{object.month|e2b_month}}, {{object.year|e2b_digit}}</td>
        <td class="bangla">{{object.customer}}</td>
        <td>{{object.amount}}</td>
        <td>
            <a href="{% url 'delete-customer-balance' pk=object.pk %}" class="p-1"><i class="bi bi-trash text-danger"></i></a>
        </td>
    </tr>
    {% endfor %}
    {% else %}
    <tr><td colspan="5" class="text-seocndary text-center bangla">কোনো পার্টির ব্যাল্যান্স তালিকাভুক্ত করা হয়নি!</td><tr>
    {% endif %}
</table>

{% load static %}
<script src="{% static 'form_list.js' %}"></script>

<script>
    function toggleGroup(){
        if ($('#id_cust_type').val() == 'Group'){
            $('#id_group').prop("disabled",false)
        } else {
            $('#id_group').prop("disabled",true)
        }
    }

    $('#id_cust_type').on('change', toggleGroup)
    toggleGroup()
</script>

{% endblock main %}