{% extends 'base.html' %}
{% block title %}{{customer.name}} - খতিয়ান{% endblock title %}
{% block style %}
<style>
    .full-details {display: none;}
    #filter select, #buttons button, #buttons a {
        border-radius:0rem;
    }
</style>
{% endblock style %}
{% load extra_tags %}
{% load bootstrap4 %}
{% block main %}

<div class="d-print-none d-flex">
    {% if filter_form %}
    <form method="get" class="row" id="filter">
        <div class="col-sm-4 pr-0">{% bootstrap_field filter_form.customer layout='horizontal' %}</div>
        <div class="col-sm-3 p-0">{% bootstrap_field filter_form.month layout='horizontal' show_label=False field_class='col-12' label_class='col-0' %}</div>
        <div class="col-sm-2 p-0">{% bootstrap_field filter_form.year layout='horizontal' show_label=False field_class='col-12' label_class='col-0' %}</div>
        <div class="col-sm-3 p-0" id="buttons">
            {% bootstrap_button 'Go' button_type='submit' button_class='btn btn-success' %}
            <a href="{% url 'groupofcompany-ledger' pk=customer.pk month=prev.month year=prev.year %}" class="btn btn-info"><i class="bi bi-chevron-left"></i></a>
            <a href="{% url 'groupofcompany-ledger' pk=customer.pk month=next.month year=next.year %}" class="btn btn-info"><i class="bi bi-chevron-right"></i></a>
        </div>
    </form>
    <div class="ml-3">
        <div class="form-check p-2">
            <input type="checkbox" id="full-details-check">
            <label for="full-details-check" class="form-check-label">পূর্ণ বিবরণী</label>
        </div>
    </div>
    {% endif %}
</div>

<div>
    <div class="text-center">
        <h3>{{customer.name}} (দেনাদার) হিসাব</h3>
        <h4>{% if month %}{{month|e2b_month}}, {{year|e2b_digit}} এর {% endif %}খতিয়ান</h4>
    </div>

    {% if has_balance %}
    <table class="table table-stripped table-bordered table-sm">
        <tr class="text-center">
            <th>তারিখ</th>
            {% for sub_company in sub_companies %}
            <th>{{sub_company.short_name}}</th>
            {% endfor %}
            <th>মোট বিক্রয়</th>
            <th>আদায়</th>
            <th>পাওনা</th>
        </tr>
        <tr>
            <td class="text-center">{{balance_bf_date|e2b_date:True}}</td>
            <td colspan="{{sub_companies.count|add:2}}">ব্যাল্যান্স বি/এফ</td>
            <td class="text-right">{{balance_bf|e2b_digit|ezynumber}}</td>
        </tr>
        {% for obj in qs %}
        <tr class="text-right">
            <td class="text-center">{{obj.date|e2b_date:True}}</td>
            {% for sub_company in obj.sub_company_data %}
            <td>
                <span class="full-details">
                    {% if sub_company.amount %}
                    {% for sell in sub_company.sells %}
                    <div>{{sell.product.short_name}}
                    {{sell.quantity|floatformat:-2|e2b_digit|ezynumber}}লিঃ =
                    {{sell.amount|floatformat:-2|e2b_digit|ezynumber}}</div>
                    {% endfor %}
                    মোটঃ 
                    {% endif %}
                </span>
                {% if sub_company.amount %}
                {{sub_company.amount|floatformat:-2|e2b_digit|ezynumber}}
                {% endif %}
            </td>
            {% endfor %}
            <td class="text-right">{% if obj.amount %}{{obj.amount|e2b_digit|ezynumber}}{% endif %}</td>
            <td class="text-right">{% if obj.collection %}{{obj.collection|e2b_digit|ezynumber}}{% endif %}</td>
            <td class="text-right {% if forloop.last %}font-weight-bold{% endif %}">
                {{obj.balance|e2b_digit|ezynumber}}
            </td>
        </tr>
        {% endfor %}
        <tr class="text-right">
            <th>মোটঃ</th>
            {% for amount in totals.values %}
            <th>{% if amount > 0 %}{{amount|e2b_digit|ezynumber}}{% endif %}</th>
            {% endfor %}
            <th>{{total_sell|e2b_digit|ezynumber}}</th>
            <th>{{total_collection|e2b_digit|ezynumber}}</th>
        </tr>
    </table>

    <h5><u>সার-সংক্ষেপঃ</u>
        <input type="checkbox" id="summary-check" class="d-print-none" checked>
    </h5>
    <div id="summary">
        <div class="row">
            <div class="col-sm-6">
                {% for product in summary %}
                {% if product.product.type == 'Pack' %}
                    <span class="eng">{{product.product.name}}</span> - 
                    {{product.product.capacity|floatformat:-2|e2b_digit}} লিঃ &times; 
                    {{product.quantity|floatformat:-2|e2b_digit}}
                {% else %}
                    {{product.product}} - 
                    {{product.quantity|floatformat:-2|e2b_digit|ezynumber}} লিঃ
                {% endif %}
                = {{product.amount|e2b_digit|ezynumber}} টাকা<br>
                {% endfor %}
            </div>
            <div class="col-sm-6">
                <div>মোট বিক্রয়ঃ {{total_sell|e2b_digit|ezynumber}} টাকা</div>
                <div>মোট আদায়ঃ {{total_collection|e2b_digit|ezynumber}} টাকা</div>
            </div>
        </div>
    </div>
    {% else %}

    <div class="card">
        <div class="text-center m-5 text-secondary">
            <div class="display-3">দুঃখিত! প্রাথমিক ব্যাল্যান্স নেই</div>
            <a href="{% url 'groupofcompany-balance' customer.pk %}" class="btn btn-primary m-3">ব্যাল্যান্স যুক্ত করুন</a>
        </div>
    </div>
    {% endif %}
</div>

<script>
    $("#summary-check").on('click', function(){
        if($(this).is(":checked")){
            $("#summary").removeClass("d-none")
            $(this).parent().removeClass("d-print-none")
        } else {
            $("#summary").addClass("d-none")
            $(this).parent().addClass("d-print-none")
        }
    })
    $("#full-details-check").on('click',function(){
        $(".full-details").toggle()
    })
</script>

{% endblock main %}