{% extends 'base.html' %}
{% block title %}গ্রুপ অফ কোম্পানি ব্যালেন্স{% endblock title %}
{% block style %}
<style>
    .hidden {
        display: none;
    }
    #add-form {
        font-size: 2rem;
    }
</style>
{% endblock style %}
{% block main %}

{% load extra_tags %}
{% load bootstrap4 %}

<h3 class='print-center'>গ্রুপ অফ কোম্পানি ব্যালেন্স
    <i class="bi bi-plus-circle btn p-0 d-print-none" id="add-form"></i>
</h3>
<div id="form-container" class="hidden d-print-none">
    <form method="post" class="row mb-3">
        {% csrf_token %}
        <div class="col-sm-6">{% bootstrap_field form.month layout='horizontal' %}</div>
        <div class="col-sm-6">{% bootstrap_field form.year layout='horizontal' %}</div>
        <div class="col-sm-6">{% bootstrap_field form.customer layout='horizontal' %}</div>
        <div class="col-sm-6">{% bootstrap_field form.amount layout='horizontal' field_class='eng col-md-9' addon_after="<span class='bangla'>টাকা</span>"%}</div>
        <div class="col-12 nowrap text-center eng">
            {% bootstrap_button 'Save' button_type='submit' button_class='btn-success' %}
            <a href="{% url 'customer-balance' %}" class="btn btn-secondary">Cancel</a>
        </div>
    </form>
</div>

<table class="table table-sm table-striped table-bordered text-center">
    <tr>
        <th>#</th>
        <th>মাস ও বছর</th>
        <th>গ্রুপ অফ কোম্পানি</th>
        <th>পরিমাণ</th>
        <th></th>
    </tr>
    {% if object_list %}
    {% for object,sln in object_list|zip %}
    <tr>
        <td>{{sln|e2b_digit}}</td>
        <td class="text-left">{{object.month|e2b_month}}, {{object.year|e2b_digit}}</td>
        <td class="text-left">{{object.customer}}</td>
        <td class="text-right">{{object.amount|e2b_digit|ezynumber}}/=</td>
        <td>
            <a href="{% url 'delete-groupofcompany-balance' pk=object.pk %}" class="p-1"><i class="bi bi-trash text-danger"></i></a>
        </td>
    </tr>
    {% endfor %}
    {% else %}
    <tr><td colspan="5" class="text-seocndary text-center">কোনো পার্টির ব্যালেন্স তালিকাভুক্ত করা হয়নি!</td><tr>
    {% endif %}
</table>

<nav>
    <ul class="pagination eng">
        {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        </li>
        {% else %}
        <li class="page-item disabled">
          <span class="page-link">Previous</span>
        </li>
        {% endif %}
        <li class="page-item active">
            <span class="page-link">
            {{ page_obj.number }}
            <span class="sr-only">(current)</span>
            </span>
        </li>
        {% if page_obj.has_next %}
            <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
            </li>
        {% else %}
            <li class="page-item disabled">
            <span class="page-link">Next</span>
            </li>
        {% endif %}
    </ul>
</nav>

{% load static %}
<script src="{% static 'form_list.js' %}"></script>

{% endblock main %}