{% extends 'base.html' %}
{% block title %}আয়-ব্যয় বিবরণী{% endblock title %}
{% block style %}
<style>
    @media print{
        #full-ledger a {
            text-decoration: none;
        }
    }
    
    #date-filter select, #date-filter button, #date-filter a {
        border-radius:0rem;
    }

    table td:first-child {
        text-align: left
    }

    #owners-equity, #profit-dist > div.col-6:nth-child(even) {
        padding-right: 0.25rem;
    }
    #financial-statement, #profit-dist > div.col-6:nth-child(odd) {
        padding-left: 0.25rem;
    }
</style>
{% endblock style %}
{% load extra_tags %}
{% load bootstrap4 %}
{% block main %}

<div class="d-print-none">
    <form method="get" class="d-flex" id="date-filter">
        <div class="py-2 mr-2">হিসাবের মাস</div>
        <div>{% bootstrap_field date_form.month layout='horizontal' show_label=False field_class="col-12" %}</div>
        <div>{% bootstrap_field date_form.year layout='horizontal' show_label=False field_class="col-12" %}</div>
        <div>
            <button type="submit" class='btn' id='go-btn'>
                <i class='bi bi-arrow-right-square-fill text-success'></i>
            </button>
            <a href="{% url 'incomestatement' month=prev.month year=prev.year %}" class="btn btn-info"><i class="bi bi-chevron-left"></i></a>
            <a href="{% url 'incomestatement' month=next.month year=next.year %}" class="btn btn-info"><i class="bi bi-chevron-right"></i></a>
        </div>
        <div class="p-2 ml-3">
            <input type="checkbox" id="profit-dist-check">
            <label for="profit-dist-check">মুনাফা বন্টন</label>
        </div>
    </form>
</div>

<div class="text-center" id="header">
    <h3 class='d-none d-print-block'>{{business_name}}</h3>
    <h3>মাসিক আয়-ব্যয় বিবরণী</h3>
    <h4>{{month|e2b_month}},{{year|e2b_digit}}</h4>
    {% if not status %}
    <div class='text-danger'>({{to_date|e2b_date}} তারিখ পর্যন্ত)</div>
    {% endif %}
</div>

<div class="row" id="incomestatement">
    <div class="col-6 pr-1">
        <table class="table table-bordered table-striped table-sm text-right">
            <tr class="text-center">
                <th>বিবরণ</th>
                <th>পরিমাণ</th>
                <th>গড় মুনাফা</th>
                <th>টাকা</th>
            </tr>
            {% for product in loose_products %}
            <tr>
                <td>{{product.product.name}}</td>
                <td>{{product.sell_qnt|floatformat:2|e2b_digit|ezynumber}}</td>
                <td>
                    {% comment %} {{product.profit_rate|floatformat:4|e2b_digit|ezynumber}}<br> {% endcomment %}
                    {{product.profit_rate|floatformat:-4|e2b_digit|ezynumber}}
                </td>
                <td>
                    {% comment %} {{product.profit|floatformat:2|e2b_digit|ezynumber}}<br> {% endcomment %}
                    {{product.profit|floatformat:2|e2b_digit|ezynumber}}
                </td>
            </tr>
            {% endfor %}
            {% for product in ex_products %}
            {% if product.ending_storage_diff > 0 %}
            <tr>
                <td><b>অতিরিক্ত {{product.product.name}} হতে লাভ</b></td>
                <td>{{product.ending_storage_diff|floatformat:2|e2b_digit|ezynumber}}</td>
                <td>{{product.purchase_rate|floatformat:2|e2b_digit|ezynumber}}</td>
                <td>{{product.ending_storage_diff_amount|floatformat:2|e2b_digit|ezynumber}}</td>
            </tr>
            {% endif %}
            {% endfor %}
            {% if total_profit_diff > 0 %}
            <tr>
                <td>
                    <a href="{% url "profit-adjustment" month=month year=year %}">
                    <b>মালের মূল্যবৃদ্ধির কারণে সমাপনী মজুদে লাভ</b></a>
                </td>
                <td colspan="3">{{total_profit_diff|floatformat:2|e2b_digit|ezynumber}}</td>
            </tr>
            {% endif %}
            <tr>
                <td>মবিল ক্যান</td>
                <td>{{pack_product.qnt|floatformat:0|e2b_digit|ezynumber}}</td>
                <td></td>
                <td>{{pack_product.profit|floatformat:2|e2b_digit|ezynumber}}</td>
            </tr>
            <tr class="text-left">
                <th colspan="4">অন্যান্য আয়ঃ</th>
            </tr>
            {% for revenue in revenues %}
            <tr>
                <td colspan='3'>{{revenue.group__name}}</td>
                <td>{{revenue.rev_amount|floatformat:2|e2b_digit|ezynumber}}</td>
            </tr>
            {% endfor %}
            <tr class='text-right'>
                <th colspan='3'>মোট আয়ঃ</th>
                <th>{{total_income|floatformat:2|e2b_digit|ezynumber}}</th>
            </tr>
        </table>
    </div>
    <div class="col-6 pl-1">
        <table class="table table-bordered table-striped table-sm text-right">
            <tr class="text-center">
                <th>ব্যয়সমূহ</th>
                <th>টাকা</th>
            </tr>
            {% for expenditure in expenditures %}
            <tr>
                <td>{{expenditure.group__name}}</td>
                <td>{{expenditure.exp_amount|floatformat:2|e2b_digit|ezynumber}}</td>
            </tr>
            {% endfor %}
            {% if baddebt %}
            <tr>
                <td>অনাদায়ী পাওনা</td>
                <td>{{baddebt|floatformat:2|e2b_digit|ezynumber}}</td>
            </tr>
            {% endif %}
            {% for product in ex_products %}
            {% if product.ending_storage_diff < 0 %}
            <tr>
                <td><b>ঘাটতি {{product.product.name}} হতে লোকসান ({{product.ending_storage_diff|absolute|floatformat:2|e2b_digit|ezynumber}} লিঃ x {{product.purchase_rate|floatformat:2|e2b_digit|ezynumber}})</b></td>
                <td>{{product.ending_storage_diff_amount|absolute|floatformat:2|e2b_digit|ezynumber}}</td>
            </tr>
            {% endif %}
            {% endfor %}
            {% if total_profit_diff < 0 %}
            <tr>
                <td>
                    <a href="{% url "profit-adjustment" month=month year=year %}">
                    <b>মালের মূল্যহ্রাসের কারণে সমাপনী মজুদে ক্ষতি</b></a>
                </td>
                <td colspan="3">{{total_profit_diff|absolute|floatformat:2|e2b_digit|ezynumber}}</td>
            </tr>
            {% endif %}
            <tr class='text-right'>
                <th>মোট খরচঃ</th>
                <td rowspan="{{expenditures.count|add:1}}" class='align-bottom'>
                    {{expenditure_amount|floatformat:2|e2b_digit|ezynumber}}
                </td>
            </tr>
        </table>
    </div>
    <div class="col-12 mb-3">
        <h4>নিট লাভঃ {{net_profit|floatformat:2|e2b_digit|ezynumber}}/=</h4>
    </div>
</div>

<div class="row">
    <div class="col-6" id="owners-equity">
        <h3 class="text-center">মালিকানা স্বত্ব বিবরণী</h3>
        <table class="table table-bordered table-striped table-sm text-right">
            <tr class="text-center">
                <th>মালিকানা স্বত্ব</th>
                <th>টাকা</th>
                <th>টাকা</th>
            </tr>
            <tr>
                <td>প্রারম্ভিক মূলধন</td>
                <td></td>
                <td>{{capital|floatformat:2|e2b_digit|ezynumber}}</td>
            </tr>
            {% if investment_amount %}
            <tr>
                <td>অতিরিক্ত মূলধন</td>
                <td></td>
                <td>{{investment_amount|floatformat:2|e2b_digit|ezynumber}}</td>
            </tr>
            {% endif %}
            <tr>
                <td>নীট মূনাফা</td>
                <td>{{net_profit|floatformat:2|e2b_digit|ezynumber}}</td>
                <td></td>
            </tr>
            <tr>
                <td class="pl-3">বাদঃ উত্তোলন</td>
                <td>({{withdraws|floatformat:2|e2b_digit|ezynumber}})</td>
                <td>{{rem_profit|floatformat:2|e2b_digit|ezynumber}}</td>
            </tr>
            {% if remaining_borrowed_loan %}
            <tr>
                <td>পাওনাদার - গৃহীত হাওলাদ</td>
                <td>{{remaining_borrowed_loan|floatformat:2|e2b_digit|ezynumber}}</td>
            </tr>
            {% endif %}
            {% if diff %}
            <tr>
                <td colspan="3">&nbsp;</td>
            </tr>
            {% endif %}
            {% if fixed_assets %}
            <tr>
                <td colspan="3">&nbsp;</td>
            </tr>
            {% endif %}
            <tr>
                <th colspan="2" >{% if total_asset == total_oe %}<i class="bi bi-check-all text-success"></i>{% endif %} মোটঃ</th>
                <th>{{total_oe|floatformat:2|e2b_digit|ezynumber}}</th>
            </tr>
        </table>
    </div>
    <div class="col-6" id="financial-statement">
        <h3 class="text-center">আর্থিক অবস্থার বিবরণী</h3>
        <table class="table table-bordered table-striped table-sm text-right">
            <tr class="text-center">
                <th>সম্পদ সমূহ</th>
                <th>টাকা</th>
            </tr>
            <tr>
                <td>হাতে নগদ/ব্যাংক উদ্বৃত্ত</td>
                <td>{{cash|floatformat:2|e2b_digit|ezynumber}}</td>
            </tr>
            <tr>
                <td>দেনাদার - পার্টি ব্যালেন্স</td>
                <td>{{dues|floatformat:2|e2b_digit|ezynumber}}</td>
            </tr>
            {% if remaining_lended_loan %}
            <tr>
                <td>দেনাদার - প্রদত্ত হাওলাদ</td>
                <td>{{remaining_lended_loan|floatformat:2|e2b_digit|ezynumber}}</td>
            </tr>
            {% endif %}
            <tr>
                <td>সমাপনী মজুদ পণ্য</td>
                <td>{{ending_storage_amount|floatformat:2|e2b_digit|ezynumber}}</td>
            </tr>
            {% if fixed_assets %}
            <tr>
                <td>স্থায়ী সম্পত্তি</td>
                <td>{{fixed_assets|floatformat:2|e2b_digit|ezynumber}}</td>
            </tr>
            {% endif %}
            {% if diff %}
            <tr>
                <td>ব্যবধান</td>
                <td>{{diff|floatformat:2|e2b_digit|ezynumber}}</td>
            </tr>
            {% endif %}
            <tr>
                <th>{% if total_asset == total_oe %}<i class="bi bi-check-all text-success"></i>{% endif %} মোটঃ</th>
                <th>{{total_asset|floatformat:2|e2b_digit|ezynumber}}</th>
            </tr>
        </table>
    </div>
</div>

{% if profit_distribution %}
<div class="row d-none" id="profit-dist">
    <div class="col-12">
        <h3 class="text-center">মুনাফা বন্টন</h3>
    </div>

    {% for op in profit_distribution %}
    <div class="col-6">
        <table class="table table-bordered table-striped table-sm text-right">
            <tr class="text-center">
                <th>{{op.owner.name}}</th>
                <th>টাকা</th>
                <th>টাকা</th>
            </tr>
            <tr>
                <td>প্রারম্ভিক মূলধন</td>
                <td></td>
                <td>{{op.prev_oe|floatformat:2|e2b_digit|ezynumber}}</td>
            </tr>
            {% if investment in op %}
            <tr>
                <td>অতিরিক্ত মূলধন</td>
                <td></td>
                <td>{{op.investment|floatformat:2|e2b_digit|ezynumber}}</td>
            </tr>
            {% endif %}
            <tr>
                <td>মূনাফা</td>
                <td>{{op.profit|floatformat:2|e2b_digit|ezynumber}}</td>
                <td></td>
            </tr>
            <tr>
                <td class="pl-3">বাদঃ উত্তোলন</td>
                <td>({{op.withdraw|floatformat:2|e2b_digit|ezynumber}})</td>
                <td>{{op.rem_profit|floatformat:2|e2b_digit|ezynumber}}</td>
            </tr>
            <tr>
                <th colspan="2">মোটঃ</th>
                <th>{{op.current_oe|floatformat:2|e2b_digit|ezynumber}}</th>
            </tr>
        </table>
    </div>
    {% endfor %}
</div>
{% endif %}

<script>
    $("#profit-dist-check").on('click', function(){
        $("#profit-dist").toggleClass('d-none');
    });
</script>
{% endblock main %}