{% extends 'base.html' %}
{% block title %}খতিয়ান সমূহ{% endblock title %}
{% block main %}


<div class="text-center">
    <h3 class="bangla">প্রধান সি এন জি এন্ড ফিলিং স্টেশন</h3>
    <h3 class="bangla">মাসিক খতিয়ান</h3>
</div>

<div class="row bangla">
    <div class="col-md-6">
        <div class="card">
            <h4 class="card-header">পার্টি হিসাব</h4>
            <div class="card-body">
                <a href="#" class="card-link">টপ সীট</a>
                <ul>
                    {% for group in group_cumtomer %}
                    <li><a href="#" class="card-link">{{group.name}}</a>
                        <ul>
                            {% for company in group.companies %}
                            <li><a href="#" class="card-link">{{company.name}}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% endfor %}
                    {% for cust in individual_customer %}
                    <li><a href="#" class="card-link">{{cust}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <h4 class="card-header">মাল</h4>
            <div class="card-body">
                <ul>
                    <li><a href="#" class="card-link">টপ সীট</a></li>
                    <hr>
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock main %}