{% extends 'base.html' %}
{% block title %}মালের খতিয়ান - টপশিট{% endblock title %}
{% block style %}
<style>
    @media print{
        #full-ledger a {
            text-decoration: none;
        }
    }
    
    #date-filter select, #date-filter button, #date-filter a {
        border-radius:0rem;
    }
</style>
{% endblock style %}
{% load extra_tags %}
{% load bootstrap4 %}
{% block main %}

<div class="d-print-none">
    <form method="get" class="d-flex" id="date-filter">
        <div class="py-2 mr-2">হিসাবের মাস</div>
        <div>{% bootstrap_field date_form.month layout='horizontal' show_label=False field_class="col-12" %}</div>
        <div>{% bootstrap_field date_form.year layout='horizontal' show_label=False field_class="col-12" %}</div>
        <div>
            <button type="submit" class='btn' id='go-btn'>
                <i class='bi bi-arrow-right-square-fill text-success'></i>
            </button>
            <a href="{% url 'product-topsheet' month=prev.month year=prev.year %}" class="btn btn-info"><i class="bi bi-chevron-left"></i></a>
            <a href="{% url 'product-topsheet' month=next.month year=next.year %}" class="btn btn-info"><i class="bi bi-chevron-right"></i></a>
        </div>
    </form>
</div>

<div class="text-center" id="header">
    <h3 class="d-none d-print-block">প্রধান ফিলিং স্টেশন</h3>
    <h4>মালের খতিয়ান (টপশিট) - {{month|e2b_month}},{{year|e2b_digit}}</h4>
    {% if not status %}
    <div class='text-danger'>({{to_date|e2b_date}} তারিখ পর্যন্ত)</div>
    {% endif %}
</div>

<div class="pb-1 d-print-none">
    <a href="{% url 'product-storage' month=prev.month year=prev.year %}" class="btn btn-light">প্রারম্ভিক মজুদের তালিকা</a>
</div>

<table class="table table-sm table-bordered table-striped">
    <thead>
        <tr class="text-center">
            <th>#</th>
            <th>নাম</th>
            <th>প্রারম্ভিক মজুদ</th>
            <th>ক্রয়</th>
            <th>বিক্রয়</th>
            <th>সমাপনী মজুদ</th>
            <th>দর</th>
            <th>সমাপনী মজুদের ক্রয়মুল্য</th>
            <th>মুনাফা</th>
            <th>ট্যাংক ডিপ+লোড</th>
            <th>ব্যবধান</th>
        </tr>
    </thead>
    <tbody>
        {% for row,sln in products|zip %}
        <tr class="text-right">
            <td class='text-center'>{{sln|e2b_digit}}</td>
            <td class="text-left"><a href="{% url 'product-ledger' pk=row.product.pk month=month year=year %}" class="text-dark">
                {% if row.product.type == 'Pack' %}
                <span class="eng">{{row.product.name}}</span> {{row.product.capacity|e2b_digit}} লিঃ
                {% else %}{{row.product}}{% endif %}
            </a></td>
            <td>{{row.initial_storage|floatformat:-2|e2b_digit|ezynumber}} {{row.unit}}</td>
            <td>{{row.purchase_qnt|floatformat:-2|e2b_digit|ezynumber}} {{row.unit}}</td>
            <td>{{row.sell_qnt|floatformat:-2|e2b_digit|ezynumber}} {{row.unit}}</td>
            <!-- অবশিষ্ট  মজুদ -->
            <td>{{row.ending_qnt|floatformat:-2|e2b_digit|ezynumber}} {{row.unit}}</td>
            <td>{{row.purchase_rate|floatformat:-2|e2b_digit|ezynumber}}</td>
            <td>{{row.ending_storage_amount|floatformat:-2|e2b_digit|ezynumber}}</td>
            <td {% if row.profit < 0 %}class='text-danger'{% endif %}>
                {{row.profit|floatformat:-2|e2b_digit|ezynumber}}
            </td>
            {% if row.product.need_rescale %}
            <td>{{row.ending_storage_reading_qnt|floatformat:-2|e2b_digit|ezynumber}} {{row.unit}}</td>
            <td>
                {{row.ending_storage_diff|floatformat:-2|e2b_digit|ezynumber}} {{row.unit}}
                <i class="bi 
                {% if row.ending_storage_diff < 0 %} bi-caret-down-fill text-danger
                {% elif row.ending_storage_diff > 0 %} bi-caret-up-fill text-success
                {% endif %}"></i>
            </td>
            {% else %}
            <td colspan="2"></td>
            {% endif %}
        </tr>
        {% endfor %}
        <tr class="text-right font-weight-bold">
            <td colspan="7">মোট সমাপনী মজুদের মূল্যঃ</td>
            <td>{{total.ending_storage_amount|floatformat:-2|e2b_digit|ezynumber}}</td>
            <td>{{total.total_profit|floatformat:-2|e2b_digit|ezynumber}}</td>
            <td colspan="2">
                {{total.diff_amount|floatformat:-2|e2b_digit|ezynumber}}
                <i class="bi 
                {% if total.diff_amount < 0 %} bi-caret-down-fill text-danger
                {% elif total.diff_amount > 0 %} bi-caret-up-fill text-success
                {% endif %}"></i>
            </td>
        </tr>
        <tr class="text-right font-weight-bold">
            <td colspan='7'>(ব্যবধান সমন্বয় করে) মোট সমাপনী মজুদের মূল্যঃ</td>
            <td>{{total.actual_price|floatformat:-2|e2b_digit|ezynumber}}</td>
            <td colspan="3"></td>
        </tr>
    </tbody>
</table>
{% endblock main %}