{% extends 'base.html' %}
{% block title %}মজুদপণ্য - টপশিট{% endblock title %}
{% block style %}
<style>
    @media print{
        #full-ledger a {
            text-decoration: none;
        }
    }
    
    #date-filter select, #date-filter button, #date-filter a {
        border-radius:0rem;
    }
</style>
{% endblock style %}
{% load extra_tags %}
{% load bootstrap4 %}
{% block main %}

<div class="d-print-none">
    <form method="get" class="d-flex" id="date-filter">
        <div class="py-2 mr-2">হিসাবের মাস</div>
        <div>{% bootstrap_field date_form.month layout='horizontal' show_label=False field_class="col-12" %}</div>
        <div>{% bootstrap_field date_form.year layout='horizontal' show_label=False field_class="col-12" %}</div>
        <div>
            <button type="submit" class='btn' id='go-btn'>
                <i class='bi bi-arrow-right-square-fill text-success'></i>
            </button>
            <a href="{% url 'product-topsheet' month=prev.month year=prev.year %}" class="btn btn-info"><i class="bi bi-chevron-left"></i></a>
            <a href="{% url 'product-topsheet' month=next.month year=next.year %}" class="btn btn-info"><i class="bi bi-chevron-right"></i></a>
        </div>
    </form>
</div>

<div class="text-center" id="header">
    <h3 class="d-none d-print-block">প্রধান সি এন জি এন্ড ফিলিং স্টেশন</h3>
    <h4>খতিয়ান: {{month|e2b_month}},{{year|e2b_digit}}</h4>
    <h4 class="text-center"><u>মজুদপণ্য</u></h4>
</div>

<div class="pb-1 d-print-none">
    <a href="{% url 'product-storage' month=prev.month year=prev.year %}" class="btn btn-light">প্রারম্ভিক মজুদের তালিকা</a>
</div>

<table class="table table-sm table-bordered table-striped">
    <tr class="text-center">
        <th>#</th>
        <th>নাম</th>
        <th>প্রারম্ভিক মজুদ</th>
        <th>ক্রয়</th>
        <th>বিক্রয়</th>
        <th>অবশিষ্ট মজুদ</th>
        <th>সমাপনী মজুদ<br>(ট্যাংক ডিপ+লোড)</th>
        <th>মজুদপণ্যের ক্রয়মুল্য</th>
        <th>ব্যবধান (পরিমাণ)</th>
        <th>ব্যবধান (টাকা)</th>
    </tr>
    {% for row,sln in products|zip %}
    <tr class="text-right">
        <td class='text-center'>{{sln|e2b_digit}}</td>
        <td class="text-left"><a href="{% url 'product-ledger' pk=row.product.pk month=month year=year %}" class="text-dark">
            {% if row.product.type == 'Pack' %}
            <span class="eng">{{row.product.name}}</span> {{row.product.capacity|e2b_digit}} লিঃ
            {% else %}{{row.product}}{% endif %}
        </a></td>
        <td>{{row.pre_storage|floatformat:-2|e2b_digit|ezynumber}} {{row.unit}}</td>
        <td>{{row.purchase|floatformat:-2|e2b_digit|ezynumber}} {{row.unit}}</td>
        <td>{{row.sell|floatformat:-2|e2b_digit|ezynumber}} {{row.unit}}</td>
        
        {% if row.product.need_rescale %}
        <td>{{row.current_storage|floatformat:-2|e2b_digit|ezynumber}} {{row.unit}}</td>
        <td>{{row.real_storage|floatformat:-2|e2b_digit|ezynumber}} {{row.unit}}</td>
        <td>{{row.price|floatformat:-2|e2b_digit|ezynumber}}</td>
        <td>
            {{row.diff_qnt|floatformat:-2|e2b_digit|ezynumber}} {{row.unit}}
            <i class="bi 
            {% if row.diff_qnt < 0 %} bi-caret-down-fill text-danger
            {% elif row.diff_qnt > 0 %} bi-caret-up-fill text-success
            {% endif %}"></i>
        </td>
        <td>
            {{row.diff_amount|floatformat:-2|e2b_digit|ezynumber}} টাকা
            <i class="bi 
            {% if row.diff_amount < 0 %} bi-caret-down-fill text-danger
            {% elif row.diff_amount > 0 %} bi-caret-up-fill text-success
            {% endif %}"></i>
        </td>
        {% else %}
        <td colspan="2">{{row.current_storage|floatformat:-2|e2b_digit|ezynumber}} {{row.unit}}</td>
        <td>{{row.price|floatformat:-2|e2b_digit|ezynumber}}</td>
        <td colspan=2></td>
        {% endif %}
    </tr>
    {% endfor %}
    <tr class="text-right font-weight-bold">
        <td colspan="7">মোটঃ</td>
        <td>{{products_total.price|floatformat:-2|e2b_digit|ezynumber}}</td>
        <td colspan="2">
            {{products_total.diff_amount|floatformat:-2|e2b_digit|ezynumber}}
            <i class="bi 
            {% if products_total.diff_amount < 0 %} bi-caret-down-fill text-danger
            {% elif products_total.diff_amount > 0 %} bi-caret-up-fill text-success
            {% endif %}"></i>
        </td>
    </tr>
</table>
{% endblock main %}