{% extends 'base.html' %}
{% block title %}{{product.name}} - খতিয়ান{% endblock title %}
{% block style %}
<style>
    .full-details {display: none;}
    #filter select, #buttons button, #buttons a {
        border-radius:0rem;
    }
    .price{display: none;}
</style>
{% endblock style %}
{% load extra_tags %}
{% load bootstrap4 %}
{% block main %}

<div class="d-print-none d-flex">
    {% if filter_form %}
    <form method="get" class="row" id="filter">
        <div class="col-md-4 pr-0">{% bootstrap_field filter_form.product layout='horizontal' %}</div>
        <div class="col-md-3 p-0">{% bootstrap_field filter_form.month layout='horizontal' show_label=False field_class='col-12' label_class='col-0' %}</div>
        <div class="col-md-2 p-0">{% bootstrap_field filter_form.year layout='horizontal' show_label=False field_class='col-12' label_class='col-0' %}</div>
        <div class="col-md-3 p-0" id="buttons">
            <button type="submit" class='btn' id='go-btn'>
                <i class='bi bi-arrow-right-square-fill text-success'></i>
            </button>
            <a href="{% url 'product-ledger' pk=product.pk month=prev.month year=prev.year %}" class="btn btn-info"><i class="bi bi-chevron-left"></i></a>
            <a href="{% url 'product-ledger' pk=product.pk month=next.month year=next.year %}" class="btn btn-info"><i class="bi bi-chevron-right"></i></a>
        </div>
    </form>
    <div class="ml-3">
        <div class="form-check p-2">
            <input type="checkbox" id="show-price">
            <label for="show-price" class="form-check-label">মূল্য দেখাবে</label>
        </div>
    </div>
    {% endif %}
</div>

<div class="text-center">
    <h3>
        {% if product.type == 'Pack' %}
        <span class="eng">{{product.name}}</span> {{product.capacity|e2b_digit}} লিঃ
        {% else %}
        {{product}} হিসাব
        {% endif %}
    </h3>
    <h4>{% if month %}{{month|e2b_month}}, {{year|e2b_digit}} এর {% endif %}খতিয়ান</h4>
</div>

<table class="table table-striped table-bordered table-sm text-right">
    <tr class='text-center'>
        <th>তারিখ</th>
        <th>প্রাঃ মজুদ</th>
        <th>ক্রয়</th>
        <th>বিক্রয়</th>
        <th>অবশিষ্ট মজুদ</th>
        {% if product.need_rescale %}
        <th>ট্যাংক ডিপ</th>
        <th>লোড</th>
        <th>মোট মজুদ</th>
        <th>ব্যবধান</th>
        {% endif %}
    </tr>
    {% for obj in qs %}
    <tr>
        <td class='text-center'>
            <a href="{% url 'daily-transactions' date=obj.date %}">{{obj.date|e2b_date:True}}</a>
        </td>
        <td>
            {% if obj.pre_storage_qnt > 0 %}
            <div>
                {{obj.pre_storage_qnt|floatformat:-2|e2b_digit|ezynumber}}
                {% if product.type == 'Loose' %}লিঃ{% endif %}
            </div>
            <div class="price">{{obj.pre_storage_price|e2b_digit|ezynumber}}/=</div>
            {% else %}
            <div class="text-center">
                <i class="text-warning bi bi-exclamation-triangle"></i>
            </div>
            {% endif %}
        </td>
        <td>
            {% if obj.purchase_qnt > 0 %}
            <div>
                {{obj.purchase_qnt|floatformat:-2|e2b_digit|ezynumber}}
                {% if product.type == 'Loose' %}লিঃ{% endif %}
            </div>
            <div class="price">{{obj.purchase_amount|e2b_digit|ezynumber}}/=</div>
            {% endif %}
        </td>
        <td>
            {% if obj.sell_qnt > 0 %}
            <div>
                {{obj.sell_qnt|floatformat:-2|e2b_digit|ezynumber}}
                {% if product.type == 'Loose' %}লিঃ{% endif %}
            </div>
            <div class="price">{{obj.sell_amount|e2b_digit|ezynumber}}/=</div>
            {% endif %}
        </td>
        <td>
            {% if obj.remaining_storage_qnt > 0 %}
            <div>
                {{obj.remaining_storage_qnt|floatformat:-2|e2b_digit|ezynumber}}
                {% if product.type == 'Loose' %}লিঃ{% endif %}
            </div>
            <div class="price">{{obj.remaining_storage_amount|e2b_digit|ezynumber}}/=</div>
            {% endif %}
        </td>
        {% if obj.storage_qnt > 0 %}
        <td>
            {% if obj.tank_deep > 0 %}
            {{obj.tank_deep|floatformat:-2|e2b_digit|ezynumber}} লিঃ
            {% endif %}
        </td>
        <td>
            {% if obj.lorry_load > 0 %}
            {{obj.lorry_load|floatformat:-2|e2b_digit|ezynumber}} লিঃ
            {% endif %}
        </td>
        <td>
            <div>{{obj.storage_qnt|floatformat:-2|e2b_digit|ezynumber}} লিঃ</div>
            <div class="price">{{obj.storage_amount|e2b_digit|ezynumber}}/=</div>
        </td>
        <td style="min-width:160px">
            {% if obj.diff_qnt != 0 %}
            <div class='float-left'>
                <i class="bi 
                    {% if obj.diff_qnt_today < 0 %} bi-caret-down-fill text-danger
                    {% elif obj.diff_qnt_today > 0 %} bi-caret-up-fill text-success
                    {% endif %}">
                </i>
                {{obj.diff_qnt_today|floatformat:-2|e2b_digit|ezynumber}} লিঃ
            </div>
            {% endif %}
            <div>
                ({{obj.diff_qnt|floatformat:-2|e2b_digit|ezynumber}}) লিঃ
            </div>
            <div class="price">{{obj.diff_amount|e2b_digit|ezynumber}}/=</div>
        </td>
        {% endif %}
    </tr>
    {% endfor %}
    <tr>
        <th colspan="2">মোটঃ</th>
        <th>
            <div>
                {{total.total_purchase_quantity|floatformat:-2|e2b_digit|ezynumber}}
                {% if product.type == 'Loose' %}লিঃ{% endif %}
            </div>
            <div class="price">{{total.total_purchase_amount|e2b_digit|ezynumber}}/=</div>
        </th>
        <th>
            <div>
                {{total.total_sell_quantity|floatformat:-2|e2b_digit|ezynumber}}
                {% if product.type == 'Loose' %}লিঃ{% endif %}
            </div>
            <div class="price">{{total.total_sell_amount|e2b_digit|ezynumber}}/=</div>
        </th>
    </tr>
</table>

<script>

$("#show-price").on('click',function(){
    if($(this).is(":checked")){
        $(".price").show()
    } else {
        $(".price").hide()
    }
})
</script>

{% endblock main %}