{% extends 'base.html' %}
{% block title %}আয়সমূহ{% endblock title %}
{% block style %}
<style>
    .full-details {display: none;}
    #filter select, #buttons button, #buttons a {
        border-radius:0rem;
    }
    .price{display: none;}
</style>
{% endblock style %}
{% load extra_tags %}
{% load bootstrap4 %}
{% block main %}

<div class="d-print-none">
    {% if date_form %}
    <form method="get" class="d-flex" id="filter">
        <div class="py-2 mr-2">হিসাবের মাস</div>
        <div>{% bootstrap_field date_form.month layout='horizontal' show_label=False field_class='col-12' label_class='col-0' %}</div>
        <div>{% bootstrap_field date_form.year layout='horizontal' show_label=False field_class='col-12' label_class='col-0' %}</div>
        <div id="buttons">
            <button type="submit" class='btn' id='go-btn'>
                <i class='bi bi-arrow-right-square-fill text-success'></i>
            </button>
            <a href="{% url 'revenue-ledger' month=prev.month year=prev.year %}" class="btn btn-info"><i class="bi bi-chevron-left"></i></a>
            <a href="{% url 'revenue-ledger' month=next.month year=next.year %}" class="btn btn-info"><i class="bi bi-chevron-right"></i></a>
        </div>
    </form>
    {% endif %}
</div>

<div>
    <div class="text-center">
        <h3 class="d-none d-print-block">{{settings.organization_name}}</h3>
        <h3>আয়সমূহ - {{month|e2b_month}}, {{year|e2b_digit}}</h3>
        {% if not status %}
        <div class='text-danger'>({{to_date|e2b_date}} তারিখ পর্যন্ত)</div>
        {% endif %}
    </div>

    <table class="table table-striped table-bordered table-sm">
        <thead>
            <tr class="text-center">
                <th>তারিখ</th>
                {% for rg in revenue_groups %}
                <th>{{rg.name}}</th>
                {% endfor %}
                <th>মোট</th>
            </tr>
        </thead>
        <tbody>
            {% for revenue in data %}
            <tr>
                <td>
                    <a class='nowrap' href="{% url 'daily-transactions' date=revenue.date %}">{{revenue.date|e2b_date}}</a>
                </td>
                {% for rg in revenue.groups %}
                <td class="text-right">{% if rg > 0 %}{{rg|e2b_digit|ezynumber}}{% endif %}</td>
                {% endfor %}
                <td class="text-right">{{revenue.total|floatformat:-2|e2b_digit|ezynumber}}</td>
            </tr>
            {% endfor %}
            <tr class="text-right">
                <th>মোটঃ</th>
                {% for total in totals.values %}
                <th>{% if total %}{{total|floatformat:-2|e2b_digit|ezynumber}}{% endif %}</th>
                {% endfor %}
                <th>{% if total %}{{total|floatformat:-2|e2b_digit|ezynumber}}{% endif %}</th>
            </tr>
        </tbody>
    </table>
</div>

{% endblock main %}