{% extends 'base.html' %}
{% block title %}মজুদ মাল{% endblock title %}
{% block style %}
<style>
</style>
{% endblock style %}
{% block main %}

{% load extra_tags %}
{% load bootstrap5 %}


<table class="table table-sm table-striped table-bordered text-center">
    <caption>
        {% include 'org_name.html' %}
        <h4 class='text-center'>মজুদ মাল - {{storage_month|e2b_month}}, {{storage_year|e2b_digit}}
            <a href="{% url "update-product-storage" %}">
                <i class="bi bi-pencil-square text-info"></i>
            </a>
        </h4></caption>
    <thead>
        <tr>
            <th>#</th>
            <th>মাস ও বছর</th>
            <th>মাল</th>
            <th>পরিমাণ</th>
            <th>দর</th>
            <th>মুল্য</th>
        </tr>
    </thead>
    {% if object_list %}
    <tbody>
        {% for object,sln in object_list|zip %}
        <tr>
            <td>{{sln|e2b_digit}}</td>
            <td class="text-start">{{object.month|e2b_month}}, {{object.year|e2b_digit}}</td>
            {% if object.product.packaged %}
            <td>
                <span class="eng">{{object.product.name}}</span> {{object.product.capacity|e2b_digit}} লিঃ
            </td>
            <td>{{object.quantity|floatformat:-2|e2b_digit|ezynumber}} টি</td>
            <td class='text-end'>{{object.get_purchase_rate|floatformat:-2|e2b_digit|ezynumber}}/=</td>
            <td class='text-end'>{% if object.price %}{{object.price|floatformat:-2|e2b_digit|ezynumber}}/={% endif %}</td>
            {% else %}
            <td>{{object.product}}</td>
            <td>{{object.quantity|floatformat:-2|e2b_digit|ezynumber}} লিটার</td>
            <td class='text-end'>{{object.get_purchase_rate|floatformat:-2|e2b_digit|ezynumber}}/=</td>
            <td class='text-end'>{% if object.price %}{{object.price|floatformat:-2|e2b_digit|ezynumber}}/={% endif %}</td>
            {% endif %}
        </tr>
        {% endfor %}
        <tr class='text-end'>
            <th colspan='5'>মজুদপণ্যের মোট ক্রয়মূল্যঃ</th>
            <th>{% if total %}{{total|floatformat:-2|e2b_digit|ezynumber}}/={% endif %}</th>
        </tr>
        {% else %}
        <tr><td colspan="5" class="text-seocndary text-center">কোনো মজুদ মাল তালিকাভুক্ত করা হয়নি!</td><tr>
    </tbody>
    {% endif %}
</table>

{% load static %}
<script src="{% static 'form_list.js' %}"></script>

{% endblock main %}