{% extends 'base.html' %}
{% block title %}মালের তালিকা{% endblock title %}
{% block style %}
<style>
    .hidden {
        display: none;
    }
    #add-form {
        font-size: 2rem;
    }
</style>
{% endblock style %}
{% block main %}

{% load extra_tags %}
{% load bootstrap5 %}

<h3 class='d-print-none'>মালের তালিকা
    <i class="bi bi-plus-circle btn p-0" id="add-form"></i>
</h3>
<div id="form-container" class="{{container_class}}">
    <form method="post" class="row">
        {% csrf_token %}
        <div class="col-md-6">{% bootstrap_field form.name layout='horizontal' label_class='col-md-4' field_class='col-md-8' %}</div>
        <div class="col-md-6">{% bootstrap_field form.short_name layout='horizontal' label_class='col-md-4' field_class='col-md-8' %}</div>
        <div class="col-md-6">{% bootstrap_field form.category layout='horizontal' label_class='col-md-4' field_class='col-md-8' %}</div>
        <div class="col-md-6">{% bootstrap_field form.packaged layout='horizontal' label_class='col-md-4' field_class='col-md-8' %}</div>
        <div class="col-md-6">{% bootstrap_field form.capacity layout='horizontal' label_class='col-md-4' field_class='col-md-8 eng' addon_after="<span class='bangla'>লিটার/একক</span>" %}</div>
        <div class="col-12 nowrap text-center eng">
            {% bootstrap_button 'Save' button_type='submit' button_class='btn-success' %}
            <a href="{% url 'products' %}" class="btn btn-secondary">Cancel</a>
        </div>
    </form>
</div>

<div class='pb-2 d-print-none'>
    <a href="{% url "initial-stock" current_date %}" class='btn btn-sm btn-primary'>প্রারম্ভিক মজুদ</a>
    <a href="{% url "purchase-rate-variant" %}" class='btn btn-sm btn-blue'>ক্রয়মূল্যের ধরন</a>
    <a href="{% url "selling-rate-variant" %}" class='btn btn-sm btn-blue'>বিক্রয়মূল্যের ধরন</a>
</div>

<table class="table table-sm table-striped table-bordered text-center">
    <caption>
        {% include 'org_name.html' %}
        <h4>মালের তালিকা</h4>
    </caption>
    <thead>
        <tr>
            <th>#</th>
            <th>নাম</th>
            <th>ধরন</th>
            <th>সংক্ষিপ্ত নাম</th>
            <th>ক্রয়মুল্য</th>
            <th>বিক্রয়মুল্য</th>
            <th>লভ্যাংশ</th>
            <th>অবস্থা</th>
            <th class='d-print-none'>নিয়ন্ত্রণ</th>
        </tr>
    </thead>
    <tbody>
        {% if object_list %}
        {% for object,sln in object_list|zip %}
        <tr>
            <td>{{ sln|e2b_digit }}</td>
            <td class='text-start'>
                {% if object.packaged %}
                <span class="eng">{{object.name}} {{object.capacity}}</span> লিঃ
                {% else %}{{object.name}}
                {% endif %}
            </td>
            <td>{{object.get_category_display}}</td>
            <td {% if object.packaged %}class="eng"{% endif %}>{{object.short_name}}</td>
            <td class='text-end'>
                {% for rate in object.last_purchase_rates %}
                <div class='nowrap'>
                    {{rate.variant.name}}:
                    {{rate.amount|floatformat:-2|e2b_digit}} টাকা -
                    ({{rate.date|e2b_date}})
                </div>
                {% endfor %}
                <a href="{% url 'create-purchase-rate' product=object.pk %}" class="btn btn-sm btn-outline-info py-0 ml-1 float-end d-print-none">সকল ক্রয়মুল্য</a>
            </td>
            <td class='text-end'>
                {% for rate in object.last_selling_rates %}
                <div class='nowrap'>
                    {{rate.variant.name}}:
                    {{rate.amount|floatformat:-2|e2b_digit}} টাকা -
                    ({{rate.date|e2b_date}})
                </div>
                {% endfor %}
                <a href="{% url 'create-selling-rate' product=object.pk %}" class="btn btn-sm btn-outline-info py-0 ml-1 float-end d-print-none">সকল বিক্রয়মুল্য</a>
            </td>
            <td class='text-end'>
                {% for rate in object.last_selling_rates %}
                <div class='nowrap'>
                    {{rate.variant.name}}:
                    {{rate.profit|floatformat:-2|e2b_digit}} টাকা
                </div>
                {% endfor %}
            </td>
            <td class='icon-lg'>
                <a href="{% url 'change-product-status' pk=object.pk %}" class="p-1">
                    {% if object.active %}
                    <i class="bi bi-toggle-on text-primary"></i>
                    {% else %}
                    <i class="bi bi-toggle-off text-secondary"></i>
                    {% endif %}
                </a>
            </td>
            <td class='d-print-none'>
                <a href="{% url 'update-product' pk=object.pk %}" class="btn btn-sm btn-light py-0">
                    <i class="bi bi-pencil-square"></i>
                </a>
                <a href="{% url 'delete-product' pk=object.pk %}">
                    <i class="bi bi-trash text-danger"></i>
                </a>
            </td>
        </tr>
        {% endfor %}
        {% else %}
        <tr><td colspan="7" class="text-seocndary text-center">কোনো মাল তালিকাভুক্ত করা হয়নি!</td><tr>
        {% endif %}
    </tbody>
</table>

{% load static %}
<script src="{% static 'form_list.js' %}"></script>

<script>
    const packaged = $("#id_packaged")
    const capacity = $("#id_capacity").closest('.form-group').parent()
    
    function toggleFields(){
        if($(packaged).prop('checked')){
            capacity.show('fast')
            capacity.find('input').prop('required',true)
        } else {
            capacity.hide('fast');
            capacity.find('input').prop('required',false)
        }
    }
    toggleFields()

    $("#id_packaged").on('change', toggleFields)
</script>

{% endblock main %}