{% extends 'base.html' %}
{% block title %}মালের তালিকা{% endblock title %}
{% block style %}
<style>
    .hidden {
        display: none;
    }
    #add-form {
        font-size: 2rem;
    }
</style>
{% endblock style %}
{% block main %}

{% load extra_tags %}
{% load bootstrap4 %}

<h3 class="bangla">মালের তালিকা
    <i class="bi bi-plus-circle btn p-0" id="add-form"></i>
</h3>
<div id="form-container" class="{{container_class}}">
    <form method="post" class="row mb-3">
        {% csrf_token %}
        <div class="col-md-6 bangla">{% bootstrap_field form.item           layout='horizontal' label_class='col-md-4' field_class='col-md-8' %}</div>
        <div class="col-md-6 bangla">{% bootstrap_field form.type           layout='horizontal' label_class='col-md-4' field_class='col-md-8' %}</div>
        <div class="col-md-6 bangla">{% bootstrap_field form.brand          layout='horizontal' label_class='col-md-4' field_class='col-md-8' %}</div>
        <div class="col-md-6 bangla">{% bootstrap_field form.capacity       layout='horizontal' label_class='col-md-4' field_class='col-md-8' addon_after="লিটার" %}</div>
        <div class="col-md-6 bangla">{% bootstrap_field form.purchase_rate  layout='horizontal' label_class='col-md-4' field_class='col-md-8' addon_after="টাকা" %}</div>
        <div class="col-md-6 bangla">{% bootstrap_field form.selling_rate   layout='horizontal' label_class='col-md-4' field_class='col-md-8' addon_after="টাকা" %}</div>
        <div class="col-12 nowrap text-center">
            {% bootstrap_button 'Save' button_type='submit' button_class='btn-success' %}
            <a href="{% url 'products' %}" class="btn btn-secondary">Cancel</a>
        </div>
    </form>
</div>

<table class="table table-sm table-striped table-bordered text-center">
    <tr>
        <th>#</th>
        <th class="bangla">আইটেম</th>
        <th class="bangla">ধরন</th>
        <th class="bangla">ব্র্যান্ড ও পরিমান</th>
        <th class="bangla">ক্রয়মুল্য</th>
        <th class="bangla">বিক্রয়মুল্য</th>
        <th></th>
    </tr>
    {% if object_list %}
    {% for object,sln in object_list|zip %}
    <tr>
        <td>{{ sln }}</td>
        <td class="bangla">{{object.item}}</td>
        <td class="bangla">{{object.get_type_display}}</td>
        <td class="text-left">{% if object.brand %}
                {{object.brand}}
                {% if object.capacity %}
                    - {{object.capacity}} <span class="bangla">লিটার</span>
                {% endif %}
            {% endif %}
        </td>
        <td>{{object.purchase_rate}}</td>
        <td>{{object.selling_rate}}</td>
        <td>
            <a href="{% url 'update-product' pk=object.pk %}" class="p-1"><i class="bi bi-pencil-square text-dark"></i></a>
            {% comment %} <a href="{% url 'delete-product' pk=object.pk %}" class="p-1"><i class="bi bi-trash text-danger"></i></a> {% endcomment %}
        </td>
    </tr>
    {% endfor %}
    {% else %}
    <tr><td colspan="7" class="text-seocndary text-center bangla">কোনো মাল তালিকাভুক্ত করা হয়নি!</td><tr>
    {% endif %}
</table>

{% load static %}
<script src="{% static 'form_list.js' %}"></script>

<script>
    let type = $("#id_type")
    let brand = $("#id_brand").closest('.form-group').parent()
    let capacity = $("#id_capacity").closest('.form-group').parent()
    
    function toggleFields(){
        const option = $(type).find(":selected").val()
        if(option == 'Pack'){
            brand.show('fast')
            brand.find('input').prop('required',true)

            capacity.show('fast')
            capacity.find('input').prop('required',true)
        } else {
            brand.hide('fast');
            brand.find('input').prop('required',false)

            capacity.hide('fast');
            capacity.find('input').prop('required',false)
        }
    }
    // Default: Hide brand & capacity
    toggleFields()

    $("#id_type").on('change', toggleFields)
</script>

{% endblock main %}