{% extends 'base.html' %}
{% block title %}পণ্যের {{rate_model}} নির্ধারন{% endblock title %}

{% block style %}
<style>
    .bootstrap5-multi-input div.col-4:not(:first-child) {
        padding-left: 0;
    }

    .bootstrap5-multi-input div.col-4 {
        padding-right: 0;
    }

    .bootstrap5-multi-input select, #buttons button, #buttons a {
        border-radius:0rem;
    }
</style>
{% endblock style %}

{% block main %}
{% load extra_tags %}
{% load bootstrap5 %}
<div class='d-print-none'>
    <a href="{% url 'products' %}" class="btn btn-light">
        <i class="bi bi-arrow-left-circle"></i> মালের তালিকা
    </a>
    <div id="form-container">
        <h3 class='print-center'>পণ্যের {{rate_model}} নির্ধারন - {{product}}</h3>
        <form method="post" class="row mb-3">
            {% csrf_token %}
            <div class="col-6">
                {% bootstrap_field form.date field_class='eng' %}
            </div>
            <div class="col">
                {% bootstrap_field form.variant %}
            </div>
            <div class="col">
                {% bootstrap_field form.amount field_class='eng' addon_after="<span class='bangla'>টাকা</span>" %}
            </div>
            <div class="col-12 nowrap text-start eng" id="buttons">
                {% bootstrap_button 'Save' button_type='submit' button_class='btn-success' %}
                <a href="{% url base_url product=product.pk %}" class="btn btn-secondary">Cancel</a>
                <a href="{% url variant_url %}" class='bangla ml-3'>ধরন পরিচালনা করুন</a>
            </div>
        </form>
    </div>
</div>

{% if object_list %}
<table class="table table-sm table-striped table-bordered text-center">
    <caption>
        {% include 'org_name.html' %}
        <h4>
            <b>{{product}}</b> এর {{rate_model}} পরিবর্তনসমূহ
            <span class="d-print-none">-
                <a href="{% url "create-purchase-rate" product=product.pk %}">সকল</a>
                {% for variant in rate_variants %}
                | <a href="{% url "create-purchase-rate" variant=variant.pk product=product.pk %}">{{variant.name}}</a>
                {% endfor %}
            </span>
        </h4>
    </caption>
    <thead>
        <tr>
            <th>#</th>
            <th>পরিবর্তনের তারিখ</th>
            <th>ধরন</th>
            <th>{{rate_model}}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for object,sln in object_list|zip %}
        <tr>
            <td>{{sln|e2b_digit}}</td>
            <td class='text-end'>
                <a href="{% url "daily-transactions" date=object.date %}">{{object.date|e2b_date}}</a>
            </td>
            <td>{{object.variant.name}}</td>
            <td class='text-end'>{{object.amount|format_num}}</td>
            <td>
                <a href="{% url update_url product=product.pk pk=object.pk %}">
                    <i class="bi bi-pencil-square text-info"></i>
                </a>
                <a href="{% url delete_url product=product.pk pk=object.pk %}">
                    <i class="bi bi-trash text-danger"></i>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

{% include "pagination.html" %}

{% endblock main %}
