{% extends 'base.html' %}
{% block title %}Sells{% endblock title %}
{% block main %}

{% load extra_tags %}

<h3>Sells</h3>
<div class="text-right">
    <a href="{% url 'create-sell' %}" class="btn btn-success mb-2">Add Sell</a>
</div>
<table class="table table-sm table-striped table-bordered text-center">
    <tr>
        <th>#</th>
        <th>Date</th>
        <th>Product</th>
        <th>Quantity</th>
        <!-- <th>Rate</th> -->
        <th>Amount</th>
        <th>Actions</th>
    </tr>
    {% if object_list %}
    {% for object,sln in object_list|zip %}
    <tr>
        <td>{{ sln }}</td>
        <td>{{object.date}}</td>
        <td>{{object.product}}</td>
        <td>{{object.quantity}} L</td>
        <!-- <td>{{object.rate}} Tk/L</td> -->
        <td>{{object.amount}} Tk</td>
        <td>
            <a href="{% url 'update-sell' pk=object.pk %}" class="p-1"><i class="bi bi-pen text-primary"></i></a>
            <a href="{% url 'delete-sell' pk=object.pk %}" class="p-1"><i class="bi bi-trash text-danger"></i></a>
        </td>
    </tr>
    {% endfor %}
    {% else %}
    <tr><td colspan="6" class="text-seocndary text-center">No results Found !</td><tr>
    {% endif %}
</table>

{% endblock main %}