{% extends 'base.html' %}
{% block title %}মজুদ মাল{% endblock title %}
{% block style %}
<style>
    form .bootstrap4-multi-input div.col-4 {
        padding-left: 0;
    }

    form select, #buttons button, #buttons a {
        border-radius:0rem;
    }
</style>
{% endblock style %}
{% block main %}

{% load extra_tags %}
{% load bootstrap4 %}

<h3 class='print-center'>দৈনিক মজুদ মালের হিসাব</h3>
<div id="form-container" class='d-print-none'>
    <form method="post" class="row mb-3">
        {% csrf_token %}
        <div class="col-sm-6">
            {% bootstrap_field form.date layout='horizontal' field_class='col-sm-9 eng' %}
        </div>
        <div class="col-sm-6">
            {% bootstrap_field form.product layout='horizontal'  field_class='col-sm-9 pl-0' %}
        </div>
        <div class="col-sm-6">
            {% bootstrap_field form.tank_deep layout='horizontal' field_class='col-sm-9 pl-0 eng' %}
        </div>
        <div class="col-sm-6">
            {% bootstrap_field form.lorry_load layout='horizontal' addon_after="<span class='bangla'>লিটার</span>" field_class='col-sm-9 pl-0 eng' %}
        </div>
        <div class="col-12 nowrap text-center eng">
            {% bootstrap_button 'Save' button_type='submit' button_class='btn-success' %}
            {% if date %}
            <a href="{% url 'daily-product-storage' date %}" class="btn btn-secondary">Cancel</a>
            {% else %}
            <a href="{% url 'daily-product-storage' %}" class="btn btn-secondary">Cancel</a>
            {% endif %}
        </div>
    </form>
</div>

<table class="table table-sm table-striped table-bordered text-center">
    <tr>
        <th>তারিখ</th>
        <th>মাল</th>
        <th>ট্যাংক ডিপ</th>
        <th>লোড</th>
        <th>মোট মজুদ</th>
        <th class='d-print-none'></th>
    </tr>
    {% if object_list %}
    {% for object in object_list %}
    <tr>
        <td>{{object.date|e2b_date}}</td>
        <td>{{object.product}}</td>
        <td>{{object.tank_deep|floatformat:-2|e2b_digit|ezynumber}} লিটার</td>
        <td>
            {% if object.lorry_load %}
            {{object.lorry_load|floatformat:-2|e2b_digit|ezynumber}} লিটার
            {% endif %}
        </td>
        <td>{{object.tank_deep|add:object.lorry_load|e2b_digit|ezynumber}} লিটার</td>
        <td class='p-0 d-print-none'>
            <form method="POST" action="{% url 'delete-daily-product-storage' pk=object.pk %}">
                {% if date %}
                <a href="{% url 'update-daily-product-storage' pk=object.pk date=date %}" class="p-1">
                    <i class="bi bi-pencil-square text-dark"></i>
                </a>
                {% else %}
                <a href="{% url 'update-daily-product-storage' pk=object.pk %}" class="p-1">
                    <i class="bi bi-pencil-square text-dark"></i>
                </a>
                {% endif %}
                {% csrf_token %}
                {% if object.date > last_bal_date %}
                <button type="submit" class="btn"><i class="bi bi-trash text-danger"></i></button>
                {% endif %}
            </form>
        </td>
    </tr>
    {% endfor %}
    {% else %}
    <tr><td colspan="5" class="text-seocndary text-center">কোনো মজুদ মাল তালিকাভুক্ত করা হয়নি!</td><tr>
    {% endif %}
</table>

<nav>
    <ul class="pagination eng">
        {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        </li>
        {% else %}
        <li class="page-item disabled">
          <span class="page-link">Previous</span>
        </li>
        {% endif %}
        {% for page in page_obj.paginator.page_range %}
        <li class="page-item {% if page == page_obj.number %}active{% endif %}">
            <a class="page-link" href="?page={{page}}">{{page}}</a>
        </li>
        {% endfor %}
        {% if page_obj.has_next %}
            <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
            </li>
        {% else %}
            <li class="page-item disabled">
            <span class="page-link">Next</span>
            </li>
        {% endif %}
    </ul>
</nav>

{% endblock main %}