{% extends 'base.html' %}
{% block title %}আয়ের খাত{% endblock title %}
{% block main %}

{% load extra_tags %}

<h3 class="bangla">আয়ের খাত
    <a href="{% url 'create-revenuegroup' %}"><i class="bi bi-plus-circle"></i></a>
</h3>
<table class="table table-sm table-striped table-bordered text-center">
    <tr>
        <th>#</th>
        <th class="bangla">বিবরণ</th>
        <th></th>
    </tr>
    {% if object_list %}
    {% for object,sln in object_list|zip %}
    <tr>
        <td>{{ sln }}</td>
        <td class="bangla text-left">{{object.name}}</td>
        <td>
            <a href="{% url 'update-revenuegroup' pk=object.pk %}" class="p-1"><i class="bi bi-pencil-square text-dark"></i></a>
            <a href="{% url 'delete-revenuegroup' pk=object.pk %}" class="p-1"><i class="bi bi-trash text-danger"></i></a>
        </td>
    </tr>
    {% endfor %}
    {% else %}
    <tr><td colspan="3" class="text-seocndary text-center bangla">কোনো আয়ের খাত তালিকাভুক্ত করা হয়নি!</td><tr>
    {% endif %}
</table>

{% endblock main %}