{% extends 'base.html' %}
{% block title %}আয়সমূহ{% endblock title %}
{% block style %}
<style>
    .form-control, .input-group-text {
        border-radius: 0;
    }
</style>
{% endblock style %}
{% block main %}

{% load bootstrap4 %}

<h3><span class="bangla">আয়সমূহ - তারিখঃ</span> {{date}}</h3>
<form action="" method="post">
    {% csrf_token %}
    <div id="form-container">
        <div class="row bangla text-center">
            <div class="col-sm-3">খাত</div>
            <div class="col-sm-6">বিবরণ</div>
            <div class="col-sm-2">টাকা</div>
            <div class="col-sm-1">বাতিল</div>
        </div>
        {{formset.management_form}}
        {% for form in formset %}
        <div class="row forms text-center">
            {{form.date}}
            {{form.id}}
            <div class="col-sm-3 bangla">{% bootstrap_field form.group show_label=False %}</div>
            <div class="col-sm-6">{% bootstrap_field form.detail show_label=False %}</div>
            <div class="col-sm-2">{% bootstrap_field form.amount show_label=False %}</div>
            <div class="col-sm-1">{{form.DELETE}}</div>
        </div>
        {% endfor %}
    </div>
    <div id="empty-form" class="d-none">
        {{empty_form.date}}
        <div class="col-sm-3 bangla">{% bootstrap_field empty_form.group show_label=False %}</div>
        <div class="col-sm-6">{% bootstrap_field empty_form.detail show_label=False %}</div>
        <div class="col-sm-2">{% bootstrap_field empty_form.amount show_label=False %}</div>
        <div class="col-sm-1">{{empty_form.DELETE}}</div>
    </div>
    {% include 'forms_buttons.html' %}
</form>

{% load static %}
<script src="{% static 'formset.js' %}"></script> 
<script>  
    $("#add-form").click(addForm)
    $(".delete-form").click(deleteForm)
</script>

{% endblock main %}