{% extends 'base.html' %}
{% block title %}{{customer.name}} - খতিয়ান{% endblock title %}
{% block style %}
<style>
</style>
{% endblock style %}
{% load extra_tags %}
{% load bootstrap5 %}
{% block main %}


<a href="{% url 'customer-topsheet' date %}" class="btn btn-light d-print-none">
    <i class="bi bi-arrow-left-circle"></i> দেনাদার টপশীট
</a>

{% if filter_form %}
<div class="row container-fluid px-0 d-print-none eng">
    <div class="col-auto">
        {% include "filter_form.html" %}
    </div>
    <div class="col-auto bangla">
        <div class="form-check ml-2">
            <input type="checkbox" class="form-check-input" id="show-full-details" data-target=".full-details">
            <label for="show-full-details" class="form-check-label">বিস্তারিত দর</label>
        </div>
        <div class="form-check ml-2">
            <input type="checkbox" class="form-check-input" id="show-product-details" data-target=".product-details" checked>
            <label for="show-product-details" class="form-check-label">বিক্রিত পণ্যের বিবরণ</label>
        </div>
    </div>
</div>
{% endif %}

<div>
    <table class="table table-stripped table-bordered table-sm text-end">
        <caption>
            {% include 'org_name.html' %}
            <h4>{{customer.name}} (দেনাদার) হিসাব</h4>
            <h5>{{date.month|e2b_month}}, {{date.year|e2b_digit}} এর খতিয়ান</h5>
        </caption>
        <thead>
            <tr class="text-center">
                <th>তারিখ</th>
                <th>প্রারম্ভিক</th>
                {% for data in sub_companies_data %}
                <th>{{data.customer.short_name}}</th>
                {% endfor %}
                <th>মোট বিক্রয়</th>
                <th>আদায়</th>
                <th>সমাপনী পাওনা</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-center">{{balance_bf_date|e2b_date:True}}</td>
                <td colspan="{{sub_companies.count|add:2}}">ব্যালেন্স বি/এফ</td>
                <td>{{balance_bf|e2b_digit|ezynumber}}</td>
            </tr>
            {% for obj in object_list %}
            <tr>
                <td class="text-center">
                    <a href="{% url 'daily-transactions' date=obj.date %}">{{obj.date|e2b_date:True}}</a>
                </td>
                <td class="nowrap">{{obj.initial_due|format_currency}}</td>
                {% for sub_company in obj.subcompanies_duesell %}
                <td>
                    <span class="full-details">
                        {% if sub_company.due_sells_amount %}
                        {% for sell in sub_company.due_sells %}
                        <div>{{sell.product.short_name}}
                        {{sell.quantity|format_num:-3}}লিঃ 
                        <i class="bi bi-x"></i> {{sell.selling_rate.amount|format_currency}} =
                        {{sell.price|format_currency}}</div>
                        {% endfor %}
                        মোটঃ 
                        {% endif %}
                    </span>
                    <span class="nowrap">{{sub_company.due_sells_amount|skip_zero|format_currency}}</span>
                </td>
                {% endfor %}
                <td class="nowrap">{{obj.due_sells_amount|format_currency}}</td>
                <td class="nowrap">{{obj.due_collections_amount|format_currency}}</td>
                <td class="nowrap {% if forloop.last %}font-weight-bold{% endif %}">
                    {{obj.current_due|format_currency}}
                </td>
            </tr>
            {% endfor %}
            <tr>
                <th>মোটঃ</th>
                <th></th>
                {% for data in sub_companies_data %}
                <th class="nowrap">{{data.total|skip_zero|format_currency}}</th>
                {% endfor %}
                <th class="nowrap">{{total.duesell|skip_zero|format_currency}}</th>
                <th class="nowrap">{{total.duecollection|skip_zero|format_currency}}</th>
            </tr>
        </tbody>
    </table>

    {% include "./product_info.html" %}    

</div>

{% endblock main %}