{% extends 'base.html' %}
{% block title %}{{title}}{% endblock title %}

{% block style %}{% endblock style %}

{% load extra_tags %}
{% load bootstrap4 %}
{% block main %}

<h3>{{title}}</h3>
<form action="" method="post">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-4">
            {% bootstrap_field form.date layout='horizontal' field_class='eng col-md-9' %}
        </div>
        <div class="col-md-4">
            {% if form.lender %}
            {% bootstrap_field form.lender layout='horizontal' field_class='eng col-md-9' %}
            {% elif form.borrower %}
            {% bootstrap_field form.borrower layout='horizontal' field_class='eng col-md-9' %}
            {% endif %}
        </div>
        <div class="col-md-4">
            {% bootstrap_field form.amount layout='horizontal' field_class='eng col-md-9' %}
        </div>
        
        <div class="col-md-12 text-center eng">
            {% bootstrap_button "Save" button_type="submit" button_class="btn-success" %}
        </div>
    </div>
</form>

{% endblock main %}