.wrapper {
    display: flex;
}

#sidebar {
    width: 250px;
    display: block;
}

#sidebarCollapse{display: none;}

#navbar {
    width: 150px;
}

@font-face {
    font-family: "kalpurush_static";
    src: url("kalpurush.ttf") format("truetype");
}

.bangla {
    font-family: "kalpurush_static";
}

.hide-nav {display: none;}

.action-btns {display: none;}
.group-label .bi {font-size: 1.3rem;}

#cr-plus, #dr-plus {
    font-size: 1.5rem;
}

.nowrap {white-space: nowrap;}

@media only screen and (max-width: 991px) {
    #sidebar {
        display: none;
    }

    #sidebarCollapse{display: inline;}
}

@media only screen and (max-width: 640px) {
    .wrapper {
        display: block;
    }
    #sidebar {
        width: 100%;
        display: none;
    }
    #navbar {
        width: 250px;
    }
    .hide-nav {
        display: inline;
    }
}

#dr-add-btn {
    display: none;
    position: absolute;
    top: 15px;
    /* left: 100px; */
    width: 200px;
    background-color: white;
    z-index: 999;
}

#cr-add-btn {
    display: none;
    position: absolute;
    top: 15px;
    right: 0px;
    width: 200px;
    background-color: white;
    z-index: 999;
}