
@font-face {
    font-family: "kalpurush_static";
    src: url("fonts/kalpurush.ttf") format("truetype");
}

.bangla {
    font-family: "kalpurush_static";
}

@font-face {
    font-family: "Siyamrupali_static";
    src: url("fonts/Siyamrupali.ttf") format("truetype");
}

.bangla2 {
    font-family: "Siyamrupali_static";
}

.wrapper {
    display: flex;
}

#sidebar {
    min-width: 220px;
    min-height: 100dvh;
}

#navbar {
    display: block;
    font-family: "Siyamrupali_static";
}

#sidebarCollapse{display: none;}

#sidebar ul {
    margin: 0;
    padding: 0;
}

#sidebar ul li {
    list-style-type: none;
}

#sidebar ul li.nav-header {
    background-color: #666;
    color: white;
    padding: 5px 15px;
    margin-top: 15px;
}

#sidebar a:hover {
    border-left: 3px solid tomato;
    border-right: 3px solid tomato;
    text-decoration: none;
}

#sidebar a, #sidebar a:link #sidebar a:visited {
    color: #333;
    padding: 5px 15px;
    display: block;
    white-space: nowrap;
    border-left: 3px solid white;
    border-right: 3px solid white;
}

.eng {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.hide-nav {display: none;}

.action-btns {display: none;}

#cr-plus, #dr-plus {
    font-size: 1.5rem;
}

.nowrap {white-space: nowrap;}

.no-bullet {
    list-style: none;
    padding: 0;
    margin: 0;
}

@media print {
    .print-center {text-align: center;}
}

@media only screen and (max-width: 991px) {
    #sidebar {
        display: none;
    }

    #sidebarCollapse{display: inline;}
}

@media only screen and (max-width: 640px) {
    .wrapper {
        display: block;
    }
    #sidebar {
        width: 100%;
        display: none;
    }
    #navbar {
        width: 250px;
    }
    .hide-nav {
        display: inline;
    }
}

/* @media screen {
    #main{margin-bottom: 200px;}
} */

#dr-add-btn {
    display: none;
    position: absolute;
    top: 15px;
    /* left: 100px; */
    width: 200px;
    background-color: white;
    z-index: 999;
}

#cr-add-btn {
    display: none;
    position: absolute;
    top: 15px;
    right: 0px;
    width: 200px;
    background-color: white;
    z-index: 999;
}