{% extends 'base.html' %}
{% block title %}{{product.name}} - খতিয়ান{% endblock title %}
{% block style %}
<style>
</style>
{% endblock style %}
{% load extra_tags %}
{% load bootstrap5 %}
{% block main %}

{% if filter_form %}
<div class="row container-fluid px-0 d-print-none eng">
    <div class="col-auto">
        {% include "filter_form.html" %}
    </div>
    <div class="col-auto bangla">
        <div class="form-check ml-2">
            <input type="checkbox" class="form-check-input" id="show-rate-details" data-target=".rate-details">
            <label for="show-rate-details" class="form-check-label">বিস্তারিত দর</label>
        </div>
        <div class="form-check ml-2">
            <input type="checkbox" class="form-check-input" id="show-price" data-target=".price">
            <label for="show-price" class="form-check-label">মূল্য</label>
        </div>
    </div>
</div>
{% endif %}

<table class="table table-striped table-bordered table-sm text-end">
    <caption>
        {% include 'org_name.html' %}
        <h4>
            {% if product.packaged %}
            <span class="eng">{{product.name}}</span> {{product.capacity|e2b_digit}} লিঃ
            {% else %} {{product}} হিসাব{% endif %}
        </h4>
        <h5>{{date.month|e2b_month}}, {{date.year|e2b_digit}} এর খতিয়ান</h5>
    </caption>
    <thead>
        <tr class='text-center'>
            <th>তারিখ</th>
            <th>প্রারম্ভিক মজুদ</th>
            <th>ক্রয়</th>
            <th>বিক্রয় (মিটার)</th>
            <th>মুনাফা</th>
            {% if not product.packaged %}
            <th>অবশিষ্ট মজুদ</th>
            <th>উদ্বৃত্ত</th>
            <th>ঘাটতি</th>
            {% endif %}
            <th>সমাপনী মজুদ</th>
        </tr>
    </thead>
    <tbody>
        {% for row in object_list %}
        <tr>
            <!--তারিখ-->
            <td class='text-center'>
                <a href="{% url 'daily-transactions' date=row.date %}">{{row.date|e2b_date:True}}</a>
            </td>
            <!-- প্রারম্ভিক মজুদ -->
            <td>{% include 'Product/Ledger/_rate_details.html' with col=row.initial_stocks product=row.product %}</td>
            <!-- ক্রয় -->
            <td>{% include 'Product/Ledger/_rate_details.html' with col=row.purchases product=row.product %}</td>
            <!-- বিক্রয় -->
            <td>{% include 'Product/Ledger/_rate_details.html' with col=row.sells product=row.product %}</td>
            <!-- মুনাফা -->
            <td>{% include 'Product/Ledger/_rate_details.html' with col=row.sell_profit product=row.product %}</td>

            {% if not product.packaged %}
            <!-- অবশিষ্ট মজুদ -->
            <td>{% include 'Product/Ledger/_rate_details.html' with col=row.remaining_stocks product=row.product %}</td>
            <!-- উদ্বৃত্ত -->
            <td>{% include 'Product/Ledger/_rate_details.html' with col=row.excesses product=row.product %}</td>
            <!-- ঘাটতি -->
            <td>{% include 'Product/Ledger/_rate_details.html' with col=row.shortages product=row.product %}</td>
            {% endif %}

            <!-- সমাপনী মজুদ -->
            <td>{% include 'Product/Ledger/_rate_details.html' with col=row.ending_stocks product=row.product %}</td>
        </tr>
        {% endfor %}
        <tr>
            <th colspan="2">মোটঃ</th>
            <th>
                <div>
                    {{total.purchase.quantity|format_num}} {{product.unit}}
                </div>
                <div class="price nowrap">{{total.purchase.price|format_currency}}</div>
            </th>
            <th>
                <div>
                    {{total.sell.quantity|format_num}} {{product.unit}}
                </div>
                <div class="price nowrap">{{total.sell.price|format_currency}}</div>
            </th>
            <th class="nowrap">{{total.sell_profit|format_currency}}</th>

            {% if not product.packaged %}
            <th>
                <div>{{total.remaining_stock.quantity|format_num}} {{product.unit}}</div>
                <div class="price nowrap">{{total.remaining_stock.price|format_currency}}</div>
            </th>
            <th colspan="2">
                <div>{{total.excess_shortage.quantity|format_num}} {{product.unit}}</div>
                <div class="price nowrap">{{total.excess_shortage.price|format_currency}}</div>
            </th>
            {% endif %}
            <th>
                <div>{{total.ending_stock.quantity|format_num}} {{product.unit}}</div>
                <div class="price nowrap">{{total.ending_stock.price|format_currency}}</div>
            </th>
        </tr>
    </tbody>
</table>

{% endblock main %}