{% extends 'base.html' %}
{% block title %}Change Password{% endblock title %}
{% block style %}
<style>
form {
    max-width: 500px;
    margin: auto;
}
</style>
{% endblock style %}
{% block main %}

{% load extra_tags %}
{% load bootstrap4 %}

<div class="my-5">
    <h1 class="text-center">পাসওয়ার্ড পরিবর্তন</h1>
    <form method="POST">
        {% csrf_token %}
        <div class="eng">{% bootstrap_field form.old_password layout='horizontal' label_class='col-6' field_class="col-6" %}</div>
        <div class="eng">{% bootstrap_field form.new_password1 layout='horizontal' label_class='col-6' field_class="col-6" %}</div>
        <div class="eng">{% bootstrap_field form.new_password2 layout='horizontal' label_class='col-6' field_class="col-6" %}</div>
        <div class="text-right">{% bootstrap_button "পরিবর্তন করুন" button_type="submit" %}</div>
    </form>
</div>

{% endblock main %}