<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load bootstrap4 %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-4.4.1-dist/css/bootstrap.min.css' %}">
    <script src="{% static 'jquery-3.6.0.min.js' %}"></script>
    <title>{% block title %}{% endblock title %}</title>
    {% block style %}{% endblock style %}
</head>
<body>
    <div class="container-fluid">
        <div class="bg-info d-print-none row">
            <h2><a href="{% url 'home' %}" class="nav-link text-light">
                <i class="bi bi-fuel-pump"></i> Filling Station
            </a></h2>
        </div>
        <div class="wrapper">
            {% include 'navigation.html' %}
            <div id="content" class="container-fluid p-0">
                <nav class="navbar navbar-light bg-light px-0 d-print-none bangla">
                    <div>
                        <button type="button" id="sidebarCollapse" class="btn btn-info rounded-0">
                            <i class="bi bi-justify"></i>
                        </button>
                        <a href="{% url 'daily-transactions' %}" class="btn btn-primary rounded-0">দৈনিক লেনদেন</a>
                        {% if month and year %}
                        <a href="{% url 'ledger-list' month year %}" class="btn btn-info rounded-0">মাসিক খতিয়ান</a>
                        {% else %}
                        <a href="{% url 'ledger-list' %}" class="btn btn-info rounded-0">মাসিক খতিয়ান</a>
                        {% endif %}
                        <i class="bi bi-printer btn py-0" style="font-size: 1.5rem" onclick="window.print()"></i>
                    </div>
                </nav>
                <div class="mb-5 bangla" id="main">
                    {% block main %}
                    {% endblock main %}
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'bootstrap-4.4.1-dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'htmx.min.js' %}"></script>
    <script>
        $(document).ready(function(){
            $("#sidebarCollapse").click(function(){
                $("#sidebar").toggle("fast");
            });
            $('.hide-nav').click(function(){
                $('#sidebar').hide("fast")
            });
        });
    </script>
</body>
</html>