{% extends 'base.html' %}
{% block title %}Related objects{% endblock title %}

{% block main %}
<a href="{{request.META.HTTP_REFERER}}" class='btn btn-light mb-2'>
    <i class="bi bi-arrow-left-circle"></i> Back
</a>

<h4>যা ডিলিট করার চেষ্টা করা হচ্ছে : <b class='eng text-success'>{{ object }}</b></h4>

{% if related_objects %}
<h3>ব্যবহৃত এন্ট্রিসমূহ :</h3>
<ul class='eng'>
    {% for obj in related_objects %}
        <li>{{ obj }}</li>
    {% endfor %}
</ul>
{% endif %}

{% for message in messages %}
<div>{{message}}</div>
{% endfor %}

{% endblock main %}