<nav id="sidebar" class="d-print-none">
    <ul id="navbar">
        <li class='nav-header'>মাল</li>
        <li><a href="{% url 'products' %}">মালের তালিকা</a></li>
        <li><a href="{% url 'daily-product-storage' %}">দৈনিক মজুদের পরিমাণ</a></li>
        <li><a href="{% url 'product-storage' %}">মজুদ মাল</a></li>
        <li><a href="{% url 'product-ledger' %}">মালের খতিয়ান</a></li>

        <li class='nav-header'>আয়-ব্যয়</li>
        <li><a href="{% url 'expenditure-group' %}">খরচের খাত</a></li>
        <li><a href="{% url 'revenue-group' %}">আয়ের খাত</a></li>
        <li><a href="{% url 'expenditure-ledger' %}">খরচের খতিয়ান</a></li>
        <li><a href="{% url 'revenue-ledger' %}">আয়ের খতিয়ান</a></li>
        
        <li class='nav-header'>পার্টিসমূহ</li>
        <li><a href="{% url 'groupofcompanies' %}">গ্রুপ অফ কোম্পানি</a></li>
        <li><a href="{% url 'customers' %}">পার্টি</a></li>
        <li><a href="{% url 'groupofcompany-ledger' %}">গ্রুপ অফ কোম্পানি খতিয়ান</a></li>
        <li><a href="{% url 'customer-ledger' %}">পার্টি খতিয়ান</a></li>

        <li class='nav-header'>মালিক/অংশীদার</li>
        <li><a href="{% url 'ownersequity' %}">মালিকানা স্বত্ব তালিকা</a></li>
        <li><a href="{% url 'ownersequity-details' %}">মালিকানা স্বত্ব বিবরণী</a></li>
        <li><a href="{% url 'withdraw-ledger' %}">উত্তোলন</a></li>
        <li><a href="{% url 'fixed-assets' %}">স্থায়ী সম্পত্তি</a></li>
        
        <li class='nav-header'>ব্যাল্যান্স</li>
        <li><a href="{% url 'cashbalance-list' %}">দৈনিক হাতে নগদ</a></li>
        <li><a href="{% url 'customer-balance' %}">পার্টি ব্যাল্যান্স</a></li>
        <li><a href="{% url 'groupofcompany-balance' %}">গ্রুপ অফ কোম্পানি ব্যাল্যান্স</a></li>
    </ul>
</nav>