{% load extra_tags %}
<table class="table table-bordered table-striped">
    <tr>
        <th>ব্যাল্যান্স সি/এফ</th>
        <th>
            {% if saved_balance_cf %}
                <!-- Has previous save balance? show it -->
                {{saved_balance_cf|e2b_digit|ezynumber}}
            {% else %}
                <!-- User has right to change -->
                {{balance_cf_abs|e2b_digit|ezynumber}}
                <!-- Balance not yet saved? save it. -->
                {% if storages.count > 1 %}
                <form method="post" class="d-inline eng">
                    {% csrf_token %}
                    {{balance_form}}
                    <button type="submit" class="btn btn-primary btn-sm d-print-none">Save</button>
                </form>
                {% endif %}
            {% endif %}
        </th>
    </tr>
    <tr class='d-print-none'>
        <td>হাতে নগদ</td>
        <td>
            <div class='form-group eng row mb-0'>
                <div class='col-md-6'>
                    <input type='number' id='cash' class='form-control'>
                </div>
                <div class='col-md-6'>
                    <label id='adjust_amount' class='form-label p-2'></label>
                </div>
            </div>
        </td>
    </tr>
</table>

<script>
    function getAdjusted(e){
        target = e.target
        let cash = $(target).val()
        let calculated = {{balance_cf_abs}}
        $('#adjust_amount').html(cash-calculated)
    }
    $('#cash').on({
        change: getAdjusted, keyup: getAdjusted
    })
</script>