{% extends 'base.html' %}
{% block title %}ব্যালেন্স সমূহ{% endblock title %}
{% load extra_tags %}
{% block main %}

<h3 class='print-center'>দৈনিক হাতে নগদ</h3>
{% if object_list %}
<table class="table table-sm table-striped table-bordered text-center">
    <tr>
        <th>তারিখ</th>
        <th>টাকা</th>
        <th class='d-print-none'></th>
    </tr>
    {% for object in object_list %}
    <tr>
        <td>{{object.date|e2b_date}}</td>
        <td>{{object.amount|e2b_digit|ezynumber}}/=</td>
        <td class='d-print-none'>
            <!-- queryset are sorted descending in view. So first means latest-->
            {% if object == object_list.first %}
            <form method='POST' action="{% url 'delete-cashbalance' pk=object.pk %}">
                {% csrf_token %}
                <button type="submit" class="btn"><i class="bi bi-trash text-danger"></i></button>
            </form>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>

<nav>
    <ul class="pagination eng">
        {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        </li>
        {% else %}
        <li class="page-item disabled">
          <span class="page-link">Previous</span>
        </li>
        {% endif %}
        <li class="page-item active">
            <span class="page-link">
            {{ page_obj.number }}
            <span class="sr-only">(current)</span>
            </span>
        </li>
        {% if page_obj.has_next %}
            <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
            </li>
        {% else %}
            <li class="page-item disabled">
            <span class="page-link">Next</span>
            </li>
        {% endif %}
    </ul>
</nav>
{% else %}
<div class="text-right">
    <a href="{% url 'create-cashbalance' %}" class="btn btn-success mb-2"><i class="bi bi-plus-circle"></i></a>
</div>
<div class="text-seocndary text-center card p-5 my-5">ব্যালেন্স তালিকাভুক্ত করা হয়নি...!</div>
{% endif %}

{% endblock main %}