{% extends 'base.html' %}
{% block title %}ব্যালেন্স সমূহ{% endblock title %}
{% load extra_tags %}
{% block main %}

<a href="{% url 'cashbalance-control' %}" class="btn btn-blue mb-3 d-print-none">
    <i class="bi bi-gear pr-2"></i> ব্যালেন্স নিয়ন্ত্রন করুন
</a>
<table class="table table-sm table-striped table-bordered text-center">
    <caption>
        <h4>দৈনিক হাতে নগদ</h4>
    </caption>
    <thead>
        <tr>
            <th>তারিখ</th>
            <th>প্রারম্ভিক হাতে নগদ</th>
            <th class='d-print-none'>নিয়ন্ত্রন</th>
        </tr>
    </thead>
    <tbody>
        {% for object in object_list %}
        <tr>
            <td class='text-end'>
                <a href="{% url "daily-transactions" object.date %}">{{object.date|e2b_date}}</a>
            </td>
            <td class='text-end'>{{object.amount|format_currency}}</td>
            <td class='d-print-none'>
                <!-- queryset are sorted descending in view. So first means latest-->
                {% if object == object_list.first %}
                <form method='POST' action="{% url 'delete-cashbalance' pk=object.pk %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-sm py-0"><i class="bi bi-trash text-danger"></i></button>
                </form>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% include "pagination.html" %}

{% endblock main %}