{% extends 'base.html' %}
{% block title %}ব্যালেন্স যুক্ত করুন{% endblock title %}
{% block main %}

{% load bootstrap5 %}
<div>
{% if date %}
<a href="{% url 'daily-transactions' date %}" class="btn btn-blue mb-3 eng">
    <i class="bi bi-chevron-left pr-2"></i>দৈনিক লেনদেন
</a>
{% else %}
<a href="{% url 'cashbalance-list' %}" class="btn btn-blue mb-3 eng">
    <i class="bi bi-chevron-left pr-2"></i>List
</a>
{% endif %}
<a href="{% url "update-settings" org_settings.pk %}" class="float-end btn btn-light">
    <i class="bi bi-gear icon-lg"></i>
</a>
</div>
<h3>ব্যালেন্স যুক্ত করুন</h3>
<form action="" method="post" class="row">
    {% csrf_token %}
    <div class="col">
        {% bootstrap_field form.date field_class='eng' %}
    </div>
    <div class="col">
        {% bootstrap_field form.amount field_class='eng' %}
    </div>
    <div class="col-12">
        {% bootstrap_button "Save" button_type="submit" button_class="btn-primary eng" %}
    </div>
</form>

<script>
    $('#id_date').datepicker({format: 'yyyy-mm-dd'})
</script>

{% endblock main %}