{% extends 'base.html' %}
{% block title %}ব্যাল্যান্স সমূহ{% endblock title %}
{% load extra_tags %}
{% block main %}

<h3 class="bangla">ব্যাল্যান্স সমূহ</h3>
{% if object_list %}
<table class="table table-sm table-striped table-bordered text-center">
    <tr class="bangla">
        <th>তারিখ</th>
        <th>টাকা</th>
        <th></th>
    </tr>
    {% for object in object_list %}
    <tr>
        <td>{{object.date|e2b_date}}</td>
        <td>{{object.amount|e2b_digit|ezynumber}}</td>
        <td>
            {% if object == object_list.last %}
            <form method='POST' action="{% url 'delete-cashbalance' pk=object.pk %}">
                {% csrf_token %}
                <button type="submit" class="btn"><i class="bi bi-trash text-danger"></i></button>
            </form>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
<div class="text-right">
    <a href="{% url 'create-cashbalance' %}" class="btn btn-success mb-2"><i class="bi bi-plus-circle"></i></a>
</div>
<div class="text-seocndary text-center card p-5 my-5">ব্যাল্যান্স তালিকাভুক্ত করা হয়নি...!</div>
{% endif %}

{% endblock main %}