{% extends 'base.html' %}
{% block title %}Daily Transactions{% endblock title %}
 
{% block style %}
<style>
    #date-filter .bootstrap4-multi-input div.col-4 {
        padding: 0;
    }

    #date-filter select, #buttons button, #buttons a {
        border-radius:0rem;
    }

    #transaction-table table tr td:nth-child(2) {
        white-space: nowrap;
    }
</style>
{% endblock style %}

{% block main %}

{% load extra_tags %}
{% load bootstrap4 %}
 
<div class="row container-fluid px-0 d-print-none eng">
    <div class="col-md-9">
        <form method="get" class="row">
            <div class="col-sm-8 col-lg-8" id="date-filter">
                {% bootstrap_form date_form layout='horizontal' label_class='col-sm-2 py-2' field_class='col-sm-10' bound_css_class=""%}
            </div>
            <div class="col-sm-4 col-lg-4" id="buttons">
                {% bootstrap_button "Go" button_type="submit" %}
                <a href="{% url 'daily-transactions' prev_day %}" class="btn btn-info"><i class="bi bi-chevron-left"></i></a>
                <a href="{% url 'daily-transactions' next_day %}" class="btn btn-info"><i class="bi bi-chevron-right"></i></a>
            </div>
        </form>
    </div>
    <div class="col-md-3">
        <div class="form-check p-2 ml-2">
            <input type="checkbox" class="form-check-input" id="show-subtotal" checked=True >
            <label for="show-subtotal" class="form-check-label">Show Subtotal</label>
        </div>
    </div>
</div>
<div class="d-print-none">
    <i class="text-info">মজুদ মালের পরিমানঃ</i>
    {% if storages.count == 0 %}<span class="text-danger">তালিকাভুক্ত হয়নি</span>{% endif %}
    {% for store in storages %}
    {{store.product}}: {{store.tank_deep|floatformat:-2|e2b_digit|ezynumber}} + 
    {{store.lorry_load|floatformat:-2|e2b_digit|ezynumber}} লিঃ
    {% if not forloop.last %}, {% endif %}
    {% endfor %}
    <a href="{% url 'daily-product-storage' date %}"><i class="bi bi-pencil-square text-info"></i></a>
</div>
<div class="text-center">
    <h3 class="d-none d-print-block">প্রধান সি এন জি এন্ড ফিলিং স্টেশন</h3>
    <h3>দৈনিক লেনদেন</h3>
    <h5 class="d-none d-print-block">তারিখ: {{date|e2b_date}}</h5>
</div>

<div class="row" id="transaction-table">
    {% if active_accounts %}
    <div class="col-md-6 pr-1">
        <div>ডেবিট</div>
        <table class="table table-sm table-bordered">
            <tr class="text-center">
                <th>বিবরন</th>
                <th>পরিমান</th>
                <th>টাকা</th>
                <th class="subtotal">টাকা</th>
            </tr>
            {% if balance_bf_side == 'debit' %}
            <tr>
                <td colspan="3" class="cp-3">ব্যাল্যান্স বি/এফ ({{balance_bf_date|e2b_date}})</td>
                <td class="text-right">{{balance_bf_abs|e2b_digit|ezynumber}}</td>
            </tr>
            {% endif %}

            
            <tr {% if sells.count == 0 %}class="d-print-none"{% endif %}>
                <th colspan="4" class="group-label">মাল বিক্রয়
                    {% if can_change %}
                    <a href="{% url 'sell' date %}" class="d-print-none"><i class="bi bi-pencil-square text-info"></i></a>
                    {% endif %}
                </th>
            </tr>
            
            {% if sells %}
            {% for obj in sells %}
            <tr class="transaction-entry">
                {% if obj.product.type == "Loose" %}
                <td>{{obj.product}}</td>
                <td class="text-right">{{obj.quantity|floatformat:-2|e2b_digit|ezynumber}} লিঃ</td>
                {% else %}
                <td class="eng">{{obj.product.name}}</td>
                <td class="text-right">{{obj.product.capacity|floatformat:-2|e2b_digit|ezynumber}} লিঃ &times; {{obj.quantity|floatformat:-2|e2b_digit|ezynumber}} </td>
                {% endif %}
                <td class="text-right">{{obj.amount|floatformat:-2|e2b_digit|ezynumber}}</td>
                <td class="subtotal"></td>
            </tr>
            {% endfor %}
            <tr class="subtotal">
                <td colspan="3" class="cp-3 text-right">মোটঃ</td>
                <td class="text-right">{{total_sell|e2b_digit|ezynumber}}</td>
            </tr>
            {% endif %}

            <tr {% if revenues.count == 0 %}class="d-print-none"{% endif %}>
                <th colspan="4" class="group-label">আয়
                    {% if can_change %}
                    <a href="{% url 'revenue' date %}" class="d-print-none"><i class="bi bi-pencil-square text-info"></i></a>
                    {% endif %}
                </th>
            </tr>
            {% if revenues %}
            {% for revenue in revenues %}
            <tr class="transaction-entry">
                <td colspan="2">{{revenue.group.name}}
                    {% if revenue.detail %}-{{revenue.detail}}{% endif %}
                </td>
                <td class="text-right">{{revenue.amount|e2b_digit|ezynumber}}</td>
                <td class="subtotal"></td>
            </tr>
            {% endfor %}
            <tr class="subtotal">
                <td colspan="3" class="cp-3 text-right">মোটঃ</td>
                <td class="text-right">{{total_revenues|e2b_digit|ezynumber}}</td>
            </tr>
            {% endif %}

            <tr {% if duecollections.count == 0 %}class="d-print-none"{% endif %}>
                <th colspan="4" class="group-label">বকেয়া আদায়
                    {% if can_change %}
                    <a href="{% url 'duecollection' date %}" class="d-print-none"><i class="bi bi-pencil-square text-info"></i></a>
                    {% endif %}
                </th>
            </tr>
            {% if duecollections %}
            {% for duecollection in duecollections %}
            <tr class="transaction-entry">
                <td colspan="2">{{duecollection.customer}}</td>
                <td class="text-right">{{duecollection.amount|e2b_digit|ezynumber}}</td>
                <td class="subtotal"></td>
            </tr>
            {% endfor %}
            <tr class="subtotal">
                <td colspan="3" class="cp-3 text-right">মোটঃ</td>
                <td class="text-right">{{total_duecollections|e2b_digit|ezynumber}}</td>
            </tr>
            {% endif %}

            <tr>
                <th colspan="3" class="cp-3 text-right">সর্বমোটঃ</th>
                <th class="text-right">{{total_debit|e2b_digit|ezynumber}}</th>
            </tr>
        </table>
    </div>

    <div class="col-md-6 pl-1">
        <div class="text-right">ক্রেডিট</div>
        <table class="table table-sm table-bordered left2nd">
            <tr class="text-center">
                <th>বিবরন</th>
                <th>পরিমান</th>
                <th>টাকা</th>
                <th class="subtotal">টাকা</th>
            </tr>
            
            {% if balance_bf_side == 'credit' %}
            <tr>
                <td colspan="3" class="cp-3">ব্যাল্যান্স বি/এফ ({{balance_bf_date|e2b_date}})</td>
                <td class="text-right">{{balance_bf_abs|e2b_digit|ezynumber}}</td>
            </tr>
            {% endif %}

            <tr {% if purchases.count == 0 %}class="d-print-none"{% endif %}>
                <th colspan="4" class="group-label">মাল ক্রয়
                    {% if can_change %}
                    <a href="{% url 'purchase' date %}" class="d-print-none"><i class="bi bi-pencil-square text-info"></i></a>
                    {% endif %}
                </th>
            </tr>
            {% if purchases %}
            {% for obj in purchases %}
            <tr class="transaction-entry">
                {% if obj.product.type == "Pack" %}
                <td class="eng">{{obj.product.name}}</td>
                <td class="text-right">{{obj.product.capacity|e2b_digit}} লিঃ &times; {{obj.quantity|floatformat:-2|e2b_digit|ezynumber}} </td>
                {% else %}
                <td>{{obj.product.name}}</td>
                <td class="text-right">{{obj.quantity|floatformat:-2|e2b_digit|ezynumber}} লিঃ</td>
                {% endif %}
                <td class="text-right">{{obj.amount|e2b_digit|ezynumber}}</td>
                <td class="subtotal"></td>
            </tr>
            {% endfor %}
            <tr class="subtotal">
                <td colspan="3" class="cp-3 text-right">মোটঃ</td>
                <td class="text-right">{{total_purchase|e2b_digit|ezynumber}}</td>
            </tr>
            {% endif %}

            <tr {% if expenditures.count == 0 %}class="d-print-none"{% endif %}>
                <th colspan="4" class="group-label">ব্যয়
                    {% if can_change %}
                    <a href="{% url 'expenditure' date %}" class="d-print-none"><i class="bi bi-pencil-square text-info"></i></a>
                    {% endif %}
                </th>
            </tr>
            {% if expenditures %}
            {% for expenditure in expenditures %}
            <tr class="transaction-entry">
                <td colspan="2">{{expenditure.group.name}}
                    {% if expenditure.detail %}- {{expenditure.detail}}{% endif %}
                </td>
                <td class="text-right">{{expenditure.amount|e2b_digit|ezynumber}}</td>
                <td class="subtotal"></td>
            </tr>
            {% endfor %}
            <tr class="subtotal">
                <td colspan="3" class="cp-3 text-right">মোটঃ</td>
                <td class="text-right">{{total_expenditures|e2b_digit|ezynumber}}</td>
            </tr>
            {% endif %}
            
            <tr {% if duesells.count == 0 %}class="d-print-none"{% endif %}>
                <th colspan="4" class="group-label">বাকি বিক্রয়
                    {% if can_change %}
                    <a href="{% url 'duesell' date %}" class="d-print-none"><i class="bi bi-pencil-square text-info"></i></a>
                    {% endif %}
                </th>
            </tr>
            {% if duesells %}
            {% for obj in duesells %}
            <tr class="transaction-entry">
                
                <td>
                    {{obj.customer}} - 
                    {% if obj.product.type == "Loose" %} {{obj.product.name}}
                    {% else %} <span class="eng">{{obj.product.brand}}</span>{% endif %}
                </td>
                <td class="text-right">{{obj.quantity|floatformat:-2|e2b_digit|ezynumber}} লিঃ</td>
                <td class="text-right">{{obj.product.capacity|e2b_digit}} লিঃ &times; {{obj.quantity|floatformat:-2|e2b_digit|ezynumber}}</td>
                
                <td class="text-right">{{obj.amount|e2b_digit|ezynumber}}</td>
                <td class="subtotal"></td>
            </tr>
            {% endfor %}
            <tr class="subtotal">
                <td colspan="3" class="cp-3 text-right">মোটঃ</td>
                <td class="text-right">{{total_duesells|e2b_digit|ezynumber}}</td>
            </tr>
            {% endif %}
            
            <tr {% if withdraws.count == 0 %}class="d-print-none"{% endif %}>
                <th colspan="4" class="group-label">উত্তোলন
                    {% if can_change %}
                    <a href="{% url 'withdraw' date %}" class="d-print-none"><i class="bi bi-pencil-square text-info"></i></a>
                    {% endif %}
                </th>
            </tr>
            {% if withdraws %}
            {% for withdraw in withdraws %}
            <tr class="transaction-entry">
                <td colspan="2">{{withdraw.owner.name}} - {{withdraw.detail}}</td>
                <td class="text-right">{{withdraw.amount|e2b_digit|ezynumber}}</td>
                <td class="subtotal"></td>
            </tr>
            {% endfor %}
            <tr class="subtotal">
                <td colspan="3" class="cp-3 text-right">মোটঃ</td>
                <td class="text-right">{{total_withdraws|e2b_digit|ezynumber}}</td>
            </tr>
            {% endif %}

            <tr>
                <th colspan="3" class="cp-3 text-right">সর্বমোটঃ</th>
                <th class="text-right">{{total_credit|e2b_digit|ezynumber}}</th>
            </tr>
        </table>
    </div>
    <div class="col-sm-6 pr-1">
        {% if balance_cf_side == 'debit' %}
        {% include "./balance_cf.html" %}
        {% endif %}
    </div>
    <div class="col-sm-6 pl-1">
        {% if balance_cf_side == 'credit' %}
        {% include "./balance_cf.html" %}
        {% endif %}
    </div>
    {% else %}
    <div class="col-sm-12">
        <div class="text-center m-5 text-secondary">
            <div class="display-3">দুঃখিত! প্রাথমিক ব্যাল্যান্স নেই</div>
            <a href="{% url 'create-cashbalance' date %}" class="btn btn-primary m-3">ব্যাল্যান্স যুক্ত করুন</a>
        </div>
    </div>
    {% endif %}
</div>

<script>
    $(document).ready(function(){
        $('#dr-plus').hover(function(){
            $('#dr-add-btn').toggle('fast')
        });
        $('#cr-plus').hover(function(){
            $('#cr-add-btn').toggle('fast')
        });

        // Action Button toggle
        $(".transaction-entry").mouseenter(function(){
            $(this).find(".action-btns").show();
        });
        $(".transaction-entry").mouseleave(function(){
            $(this).find(".action-btns").hide();
        });

        // Show Subtotal
        $('#show-subtotal').click(function(){
            if($(this).is(":checked")){
                $('.subtotal').removeClass('d-none')
                $('.cp-3').attr('colspan',3)
                $('.group-label').attr('colspan',4)
            } else {
                $('.subtotal').addClass('d-none')
                $('.cp-3').attr('colspan',2)
                $('.group-label').attr('colspan',3)
            }
        })
    });
</script>

{% endblock main %}