{% extends 'base.html' %}
{% block title %}Daily Transactions{% endblock title %}
 
{% block style %}
<style>
</style>
{% endblock style %}

{% block main %}

{% load extra_tags %}
{% load bootstrap5 %}

{% if filter_form %}
<div class="row container-fluid px-0 d-print-none eng">
    <div class="col-auto">
        {% include "filter_form.html" %}
    </div>
</div>
{% endif %}

<div class="text-center">
    {% include 'org_name.html' %}
    <h4>দৈনিক লেনদেন</h4>
    <h5 class="d-none d-print-block">তারিখ: {{date|e2b_date}}</h5>
</div>

{% if has_fuels %}
<div>
    <i class="text-info">মজুদ মালের পরিমানঃ</i>
    {% if storage_readings.count == 0 %}<span class="text-danger">তালিকাভুক্ত হয়নি</span>{% endif %}
    {% for store in storage_readings %}
    {{store.product}}: {{store.tank_deep|format_num}} + 
    {{store.lorry_load|format_num}} লিঃ
    {% if not forloop.last %}, {% endif %}
    {% endfor %}
    <a href="{% url 'daily-product-storage' date %}"><i class="bi bi-pencil-square text-info"></i></a>
</div>
{% endif %}

{% if can_change %}
{% include "Transaction/daily_transactions/links.html" %}
{% endif %}

<div class="row">
    <div class="col-6">
        <!-- বিক্রয় -->  
        {% include "Transaction/daily_transactions/purchase_sell.html" with object_list=sells name="বিক্রয়" total=total_sell %}
        <!-- বকেয়া আদায় --> 
        {% include "Transaction/daily_transactions/due_collection.html" %}
        <!-- আয় -->  
        {% include "Transaction/daily_transactions/inc_exp.html" with object_list=incomes name="আয়" total=total_income %}
        <!-- অতিরিক্ত মূলধন --> 
        {% include "Transaction/daily_transactions/investment_withdraw.html" with object_list=investments name="অতিরিক্ত মূলধন" total=total_investments %}
        <!-- হাওলাদ -->
        {% include "Transaction/daily_transactions/loan_in.html" %}
    </div>
    <div class="col-6">
        <!-- ক্রয় -->  
        {% include "Transaction/daily_transactions/purchase_sell.html" with object_list=purchases name="ক্রয়" total=total_purchase %}
        <!-- বাকি বিক্রয় -->
        {% include "Transaction/daily_transactions/due_sell.html" %}
        <!-- ব্যয় -->  
        {% include "Transaction/daily_transactions/inc_exp.html" with object_list=expenditures name="ব্যয়" total=total_expenditure %}
        <!-- উত্তোলন -->
        {% include "Transaction/daily_transactions/investment_withdraw.html" with object_list=withdraws name="উত্তোলন" total=total_withdraw %}
        <!-- হাওলাদ -->
        {% include "Transaction/daily_transactions/loan_out.html" %}
    </div>
</div>
{% include "Transaction/daily_transactions/cash.html" %}

{% endblock main %}