{% extends 'base.html' %}
{% block title %}Daily Transactions{% endblock title %}
{% block main %}

{% load extra_tags %}
{% load bootstrap4 %}

<form method="get" class="container-fluid px-0 d-print-none">
    <div class="row">
        <div class="col-sm-8 col-lg-6">
            {% bootstrap_form date_form layout='horizontal' label_class='col-sm-2' field_class='col-sm-10' bound_css_class=""%}
        </div>
        <div class="col-sm-4 col-lg-6">
            {% bootstrap_button "Go" button_type="submit" %}
            <a href="{% url 'daily-transactions' prev_day %}" class="btn btn-info"><i class="bi bi-chevron-left"></i></a>
            <a href="{% url 'daily-transactions' next_day %}" class="btn btn-info"><i class="bi bi-chevron-right"></i></a>
        </div>
    </div>
</form>
<div class="text-center bangla">
    <h3 class="d-none d-print-block">Pradhan Filling Station</h3>
    <h3>Daily Transactions</h3>
    <h5>Date: {{date_str}}</h5>
</div>

<div class="row bangla">
    {% if active_accounts %}
    <div class="col-sm-6">
        <div>Debit
            {% if can_update %}
            <span id="dr-plus" class="d-print-none"><i class="bi bi-plus-circle text-info"></i>
                <div id="dr-add-btn" class="card">
                    <a class="d-block nav-link" href="{% url 'create-sell' date %}">Sell</a>
                    <a class="d-block nav-link" href="{% url 'create-duecollection' date %}">Due Collection</a>
                    <a class="d-block nav-link" href="{% url 'create-revenue' date %}">Revenue</a>
                </div>
            </span>
            {% endif %}
        </div>
        <table class="table table-sm table-bordered">
            <tr class="text-center">
                <th class="w-75">Details</th>
                <th colspan="2">Amount</th>
            </tr>
            {% if balance_bf_side == 'debit' %}
            <tr>
                <td>Balance B/F ({{balance_bf_date}})</td>
                <td></td>
                <td>{{balance_bf_abs}}</td>
            </tr>
            {% endif %}

            {% if sells %}
            <tr>
                <th colspan="3">Sell
                    {% if can_update %}
                    <a href="{% url 'create-sell' date %}" class="d-print-none"><i class="bi bi-plus-circle text-info"></i></a>
                    {% endif %}
                </th>
            </tr>
            {% for sell in sells %}
            <tr title="{% if sell.comment %}{{sell.comment}}{% endif %}" class="transaction-entry">
                <td class="pl-4">{{sell.product.name}} - {{sell.quantity}} Ltr.</td>
                <td>{{sell.amount}}</td>
                <td>{% if can_update %}
                    <div class="d-print-none action-btns">
                        <a href="{% url 'update-sell' pk=sell.pk %}" class="p-1"><i class="bi bi-pencil-square text-dark"></i></a>
                        <a href="{% url 'delete-sell' pk=sell.pk %}" class="p-1"><i class="bi bi-trash text-danger"></i></a>
                    </div>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="2"></td>
                <td>{{total_sell}}</td>
            </tr>
            {% endif %}

            {% if duecollections %}
            <tr>
                <th colspan="3">Due Collection
                    {% if can_update %}
                    <a href="{% url 'create-duecollection' date %}" class="d-print-none"><i class="bi bi-plus-circle text-info"></i></a>
                    {% endif %}
                </th>
            </tr>
            {% for duecollection in duecollections %}
            <tr title="{% if duecollection.comment %}{{duecollection.comment}}{% endif %}" class="transaction-entry">
                <td class="pl-4">{{duecollection.customer.name}}</td>
                <td>{{duecollection.amount}}</td>
                <td>
                    {% if can_update %}
                    <div class="d-print-none action-btns">
                        <a href="{% url 'update-duecollection' pk=duecollection.pk %}" class="p-1"><i class="bi bi-pencil-square text-dark"></i></a>
                        <a href="{% url 'delete-duecollection' pk=duecollection.pk %}" class="p-1"><i class="bi bi-trash text-danger"></i></a>
                    </div>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="2"></td>
                <td>{{total_duecollections}}</td>
            </tr>
            {% endif %}

            {% if revenues %}
            <tr>
                <th colspan="3">Revenue
                    {% if can_update %}
                    <a href="{% url 'create-revenue' date %}" class="d-print-none"><i class="bi bi-plus-circle text-info"></i></a>
                    {% endif %}
                </th>
            </tr>
            {% for revenue in revenues %}
            <tr class="transaction-entry">
                <td>{{revenue.group.name}}
                    {% if revenue.detail %}-{{revenue.detail}}{% endif %}
                </td>
                <td>{{revenue.amount}}</td>
                <td>
                    {% if can_update %}
                    <div class="d-print-none action-btns">
                        <a href="{% url 'update-revenue' pk=revenue.pk %}" class="p-1"><i class="bi bi-pencil-square text-dark"></i></a>
                        <a href="{% url 'delete-revenue' pk=revenue.pk %}" class="p-1"><i class="bi bi-trash text-danger"></i></a>
                    </div>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="2"></td>
                <td>{{total_revenues}}</td>
            </tr>
            {% endif %}
            <tr>
                <th colspan="2">Total:</th>
                <th>{{total_debit}}</th>
            </tr>
        </table>
    </div>

    <div class="col-sm-6">
        <div class="text-right">Credit
            {% if can_update %}
            <span id="cr-plus" class="d-print-none"><i class="bi bi-plus-circle text-info"></i>
                <div id="cr-add-btn" class="card">
                    <a class="d-block nav-link" href="{% url 'create-purchase' date %}">Purchase</a>
                    <a class="d-block nav-link" href="{% url 'create-expenditure' date %}">Expenditure</a>
                    <a class="d-block nav-link" href="{% url 'create-duesell' date %}">Due Sell</a>
                    <a class="d-block nav-link" href="{% url 'create-withdraw' date %}">Withdraw</a>
                </div>
            </span>
            {% endif %}
        </div>
        <table class="table table-sm table-bordered">
            <tr class="text-center">
                <th class="w-75">Details</th>
                <th colspan="2">Amount</th>
            </tr>
            
            {% if balance_bf_side == 'credit' %}
            <tr>
                <td>Balance B/F ({{balance_bf_date}})</td>
                <td></td>
                <td>{{balance_bf_abs}}</td>
            </tr>
            {% endif %}

            {% if purchases %}
            <tr>
                <th colspan="3">Purchase
                    {% if can_update %}
                    <a href="{% url 'create-purchase' date %}" class="d-print-none"><i class="bi bi-plus-circle text-info"></i></a>
                    {% endif %}
                </th>
            </tr>
            {% for purchase in purchases %}
            <tr title="{% if purchase.comment %}{{purchase.comment}}{% endif %}" class="transaction-entry">
                <td class="pl-4">{{purchase.product.name}} - {{purchase.quantity}} Ltr.</td>
                <td>{{purchase.amount}}</td>
                <td>
                    {% if can_update %}
                    <div class="d-print-none action-btns">
                        <a href="{% url 'update-purchase' pk=purchase.pk %}" class="p-1"><i class="bi bi-pencil-square text-dark"></i></a>
                        <a href="{% url 'delete-purchase' pk=purchase.pk %}" class="p-1"><i class="bi bi-trash text-danger"></i></a>
                    </div>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="2"></td>
                <td>{{total_purchase}}</td>
            </tr>
            {% endif %}

            {% if expenditures %}
            <tr>
                <th colspan="3">Expenditure
                    {% if can_update %}
                    <a href="{% url 'create-expenditure' date %}" class="d-print-none"><i class="bi bi-plus-circle text-info"></i></a>
                    {% endif %}
                </th>
            </tr>
            {% for expenditure in expenditures %}
            <tr class="transaction-entry">
                <td>{{expenditure.group.name}}
                    {% if expenditure.detail %}-{{expenditure.detail}}{% endif %}
                </td>
                <td>{{expenditure.amount}}</td>
                <td>
                    {% if can_update %}
                    <div class="d-print-none action-btns">
                        <a href="{% url 'update-expenditure' pk=expenditure.pk %}" class="p-1"><i class="bi bi-pencil-square text-dark"></i></a>
                        <a href="{% url 'delete-expenditure' pk=expenditure.pk %}" class="p-1"><i class="bi bi-trash text-danger"></i></a>
                    </div>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="2"></td>
                <td>{{total_expenditures}}</td>
            </tr>
            {% endif %}
            
            {% if duesells %}
            <tr>
                <th colspan="3">Due Sell
                    {% if can_update %}
                    <a href="{% url 'create-duesell' date %}" class="d-print-none"><i class="bi bi-plus-circle text-info"></i></a>
                    {% endif %}
                </th>
            </tr>
            {% for duesell in duesells %}
            <tr title="{% if duesell.comment %}{{duesell.comment}}{% endif %}" class="transaction-entry">
                <td class="pl-4">{{duesell.customer.name}} - ({{duesell.product.name}}-{{duesell.quantity}} Ltr.)</td>
                <td>{{duesell.amount}}</td>
                <td>
                    {% if can_update %}
                    <div class="d-print-none action-btns">
                        <a href="{% url 'update-duesell' pk=duesell.pk %}" class="p-1"><i class="bi bi-pencil-square text-dark"></i></a>
                        <a href="{% url 'delete-duesell' pk=duesell.pk %}" class="p-1"><i class="bi bi-trash text-danger"></i></a>
                    </div>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="2"></td>
                <td>{{total_duesells}}</td>
            </tr>
            {% endif %}
            
            {% if withdraws %}
            <tr>
                <th colspan="3">Withdraw
                    {% if can_update %}
                    <a href="{% url 'create-withdraw' date %}" class="d-print-none"><i class="bi bi-plus-circle text-info"></i></a>
                    {% endif %}
                </th>
            </tr>
            {% for withdraw in withdraws %}
            <tr title="{% if withdraw.comment %}{{withdraw.comment}}{% endif %}" class="transaction-entry">
                <td class="pl-4">{{withdraw.owner.name}}</td>
                <td>{{withdraw.amount}}</td>
                <td>
                    {% if can_update %}
                    <div class="d-print-none action-btns">
                        <a href="{% url 'update-withdraw' pk=withdraw.pk %}" class="p-1"><i class="bi bi-pencil-square text-dark"></i></a>
                        <a href="{% url 'delete-withdraw' pk=withdraw.pk %}" class="p-1"><i class="bi bi-trash text-danger"></i></a>
                    </div>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="2"></td>
                <td>{{total_withdraws}}</td>
            </tr>
            {% endif %}

            <tr>
                <th colspan="2">Total:</th>
                <th>{{total_credit}}</th>
            </tr>
        </table>
    </div>
    <div class="col-sm-6">
        {% if balance_cf_side == 'debit' %}
        {% include "./balance_cf.html" %}
        {% endif %}
    </div>
    <div class="col-sm-6">
        {% if balance_cf_side == 'credit' %}
        {% include "./balance_cf.html" %}
        {% endif %}
    </div>
    {% else %}
    <div class="col-sm-12">
        <div class="text-center m-5 text-secondary">
            <div class="display-3">Sorry! No balance in previous day.</div>
            <a href="{% url 'create-cashbalance' date %}" class="btn btn-primary m-3">Add balance</a>
        </div>
    </div>
    {% endif %}
</div>

<script>
    $(document).ready(function(){
        $('#dr-plus').hover(function(){
            $('#dr-add-btn').toggle('fast')
        });
        $('#cr-plus').hover(function(){
            $('#cr-add-btn').toggle('fast')
        });

        // Action Button toggle
        $(".transaction-entry").mouseenter(function(){
            $(this).find(".action-btns").show();
        });
        $(".transaction-entry").mouseleave(function(){
            $(this).find(".action-btns").hide();
        });
    });
</script>

{% endblock main %}